.services > * {
	position:relative;
	opacity:1;
	left:0px;
	-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.services.animationBegin > * {
	opacity:0;
	left:50px;
	-webkit-transition:all 0 linear 0 !important;	/* rewind instantly */
	-moz-transition:all 0 linear 0 !important;
	-o-transition:all 0 linear 0 !important;
	-ms-transition:all 0 linear 0 !important;
	transition:all 0 linear 0 !important;
}



