
/* screens smaller than 640 */
@media screen and (max-width: 640px) {

  #site-nav {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    padding-top: 0px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #content {
    padding-left: 10px;
  }

}


/**** Normal screen ****/



.box_m {
  margin: 0;

  font-size: 11px;
  line-height: 1.4em;
  float: left;

}


.box_m img,
#tumblelog img {
  display: block;
  width: 100%;
}

.box_m {
  float: right;
  text-align: right; 
  direction: rtl;
}



.col1 { width: 80px;margin:0 }
.col2 { width: 160px; }


.col1 img { max-width: 80px }
.col2 img { max-width: 160px }


.col2 a{
	color:#fff;
	background: #416F95;
	position: absolute;
	top:0;
	width:160px;
	height:160px;
	font-size: 3em;
	text-align:center;
	line-height:4em;
	opacity:.95
}

.col1 a{
	color:#fff;
	background: #416F95;
	position: absolute;
	top:0;
	width:80px;
	height:80px;
	font-size: 2em;
	text-align:center;
	line-height:3.5em;
	opacity:.9
}




/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: .7s;
     -moz-transition-duration: .7s;
      -ms-transition-duration: .7s;
       -o-transition-duration: .7s;
          transition-duration: .7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}


/**** Fluid ****/




.box.col1 { width: 16%; }
.box.col2 { width: 36%; }



/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
