html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Media Queries Breakpoints */
/*-----------------------

 Typography


 Modular Scale
 
	16px @ 1:1.618	
    24px @ 1:1.618	
    
    
-------------------------*/
p {
  line-height: 1.5em;
  font-size: 1em;
  text-align: left;
  margin-bottom: 1.5em;
  color: #797979; }
  p:first-child {
    margin-top: 1em; }
  p a {
    font-weight: 700; }

h1 {
  font-size: 4.25em;
  line-height: 1.05882em;
  margin-top: .3529em;
  margin-bottom: .7059em;
  color: #6f7d9a; }

h2 {
  font-size: 2.625em;
  line-height: 1.14286em;
  margin-top: 1.1429em;
  margin-bottom: .5714em;
  color: #6f7d9a; }

h3 {
  font-size: 1.625em;
  line-height: 1.84615em;
  margin-top: .9231em;
  margin-bottom: 0;
  color: #6f7d9a; }

h4 {
  line-height: 1.5em;
  font-size: 1em;
  font-weight: 700;
  color: #6f7d9a; }

h5 {
  font-size: .8em;
  line-height: 1.875em;
  font-weight: 300;
  color: #6f7d9a; }

small {
  font-size: .8em;
  line-height: 1.5em;
  color: #797979; }

strong {
  font-weight: bold; }

a {
  text-decoration: none;
  color: #6f7d9a; }

i {
  float: left;
  margin-right: 0.6em; }

b {
  font-weight: bold; }

/****************************************************

UX Buttons

****************************************************/
/*  Default blue color */
button, button:link, button:visited {
  background-color: #5a8ece;
  background-image: -o-linear-gradient(bottom, #416f95 0%, #5a8ece 100%);
  background-image: -moz-linear-gradient(bottom, #416f95 0%, #5a8ece 100%);
  background-image: -webkit-linear-gradient(bottom, #416f95 0%, #5a8ece 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #416f95), color-stop(100%, #5a8ece));
  background-image: linear-gradient(bottom, #416f95 0%, #5a8ece 100%);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: .8em;
  line-height: 1.875em;
  height: 2.927em;
  padding: 0 1.5em;
  margin: 1em 1em 1em 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  cursor: pointer; }

button:hover {
  background: #416f95; }

button:active {
  background: #395e7d;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

/*  Green color */
.green, .green:link, .green:visited {
  background-color: #b2d754;
  background-image: -o-linear-gradient(bottom, #98b749 0%, #b2d754 100%);
  background-image: -moz-linear-gradient(bottom, #98b749 0%, #b2d754 100%);
  background-image: -webkit-linear-gradient(bottom, #98b749 0%, #b2d754 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #98b749), color-stop(100%, #b2d754));
  background-image: linear-gradient(bottom, #98b749 0%, #b2d754 100%);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.green:hover {
  background: #98b749; }

.green:active {
  background: #809e33;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

/*  Grey color */
.grey {
  background-color: #f3f3f3;
  background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #f3f3f3 100%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f3f3f3 100%);
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #f3f3f3 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #e6e6e6), color-stop(100%, #f3f3f3));
  background-image: linear-gradient(bottom, #e6e6e6 0%, #f3f3f3 100%);
  color: #797979;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.grey:hover {
  background: #e6e6e6; }

.grey:active {
  background-color: #cccccc;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

/*  Grey flat button */
.light_grey {
  color: #797979;
  background: white;
  border: solid 1px #e9e9e9;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  box-shadow: none;
  text-shadow: none; }

.light_grey:hover {
  background-color: whitesmoke; }

.disabled, .button-disabled:active, .button-disabled:focus, .button-disabled:hover, .button-disabled:visited {
  background: linear-gradient(#d4d4d4, #bcbcbc) repeat scroll 0% 0% transparent;
  box-shadow: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  border-color: #b9b9b9;
  cursor: default;
  color: white;
  opacity: 0.5; }

.middle, .big {
  font-size: 1em;
  height: 3em;
  padding: 0 1.5em;
  margin: 1em 0;
  letter-spacing: .01em;
  font-weight: bold;
  width: 11.089em; }

.big {
  width: 16.633em; }

/* Default blu color  */
.small {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  color: white;
  border-radius: .5em;
  display: inline-block;
  font-size: 1em;
  height: 2.7em;
  white-space: nowrap;
  cursor: pointer;
  padding: 0 0.5em; }

.button_small:hover {
  background: #416f95; }

.button_small:active {
  background: #395e7d; }

/*** facebook button ****/
.face, .face:link, .face:visited {
  background-color: #2982a5;
  background-image: -o-linear-gradient(bottom, #256195 0%, #2982a5 100%);
  background-image: -moz-linear-gradient(bottom, #256195 0%, #2982a5 100%);
  background-image: -webkit-linear-gradient(bottom, #256195 0%, #2982a5 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #256195), color-stop(100%, #2982a5));
  background-image: linear-gradient(bottom, #256195 0%, #2982a5 100%);
  font-weight: 400; }

.face:hover {
  background: #256195; }

.face:active {
  background: #256195;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.face i {
  margin-right: .618em;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: .927em;
  margin-left: -0.618em; }

/********   list pagination *******/
.pagination ul {
  display: inline-block;
  margin: 2em 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .pagination ul li {
    display: inline; }
    .pagination ul li a {
      color: #6f7d9a; }

.pagination ul > li > a {
  float: left;
  padding: 4px 12px;
  text-decoration: none;
  background-color: white;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e9e9e9;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none; }

.pagination ul > li:first-child > a {
  border-left-width: 1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.pagination ul > li:last-child > a {
  border-right-width: 1px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }

.pagination ul > .active > a,
.pagination ul > .active > a:hover {
  color: white;
  cursor: default;
  background-color: #416f95;
  border-color: #416f95; }

.pagination ul > li > a:hover, .pagination ul > li > a:focus {
  background-color: whitesmoke;
  color: #797979; }

/****************************************************

Input form

****************************************************/
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  font-family: "Open Sans", "Helvetica Neue", "Proxima Sans", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0.6em 0.5em;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  width: 13em;
  color: #555555;
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.3) inset; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.8); }

input[type="search"] {
  -moz-appearance: none;
  -webkit-appearance: none; }

.search input[type="search"] {
  background: white url(../images/search.png) no-repeat 2% center;
  width: 26em;
  padding: 0.85em 2.5em;
  margin-top: .4em;
  margin-right: 0.5em; }

.red_shadow {
  border: solid 1px #ea494a !important;
  box-shadow: 0 1px 6px #ea494a !important;
  outline: 0 none; }

/* Misc visuals
----------------------------------*/
/* Component containers
----------------------------------*/
.ui-widget-content {
  border: 1px solid #e9e9e9;
  background: #e6edf4;
  height: 1em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }

.ui-slider {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
  margin-top: 1.1429em;
  margin-bottom: .5714em; }

/* Overlays */
.ui-slider-handle {
  position: absolute;
  z-index: 2;
  cursor: default;
  height: 1.618em;
  width: 1.618em;
  margin: 0px auto;
  background: #9ab4cb;
  border: solid 1px #6f7d9a;
  display: block;
  margin-top: -.35em;
  margin-left: -.5em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .ui-slider-handle:hover {
    background-color: #9ab4cb;
    background-image: -o-linear-gradient(bottom, #6f7d9a 0%, #9ab4cb 100%);
    background-image: -moz-linear-gradient(bottom, #6f7d9a 0%, #9ab4cb 100%);
    background-image: -webkit-linear-gradient(bottom, #6f7d9a 0%, #9ab4cb 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #6f7d9a), color-stop(100%, #9ab4cb));
    background-image: linear-gradient(bottom, #6f7d9a 0%, #9ab4cb 100%);
    cursor: pointer; }

input[type="text"].amount_label {
  color: #6f7d9a;
  background: #e6edf4;
  font-weight: 200;
  box-shadow: none;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 6.854em;
  font-size: 2.625em;
  line-height: 1.14286em;
  margin-top: 1.1429em;
  margin-bottom: .5714em; }

.tabbable {
  margin-top: 1em; }

.nav-tabs {
  padding-left: 0!important; }
  .nav-tabs li {
    padding-top: 3px; }

.tabbable .nav-tabs > li.active {
  border: 1px solid #e9e9e9;
  border-bottom: 0;
  border-top: 3px solid #6f7d9a;
  background: white;
  position: relative;
  z-index: 2;
  padding-top: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: white; }

.tabbable > .tab-content {
  background-color: white;
  border: 1px solid #e9e9e9;
  padding: 0 1em;
  margin-top: -1px; }

.tab-pane {
  display: none; }

/***********************


  GRID CONTENT


************************/
.row {
  width: 100%;
  margin: 0;
  color: #797979;
  zoom: 1; }
  .row:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.row [class*="column_"] {
  display: block;
  float: left;
  margin-right: 4%; }

.row [class*="column_"]:last-child {
  margin-right: 0; }

.column_one {
  width: 9%; }

.column_two {
  width: 22%; }

.column_three {
  width: 30.65%; }

.column_four {
  width: 48%; }

.column_five {
  width: 65%; }

.column_six {
  width: 74%; }

.colunm_seven {
  width: 87%; }

.offset_1 {
  margin-left: 13%; }

.offset_2 {
  margin-left: 26%; }

.offset_3 {
  margin-left: 39%; }

.offset_4 {
  margin-left: 52%; }

.offset_5 {
  margin-left: 74%; }

.example_row .row {
  margin: 1.5em 0; }

body {
  font-family: "Open Sans", "Helvetica Neue", "Proxima Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  background: #f0f4f7;
  font-weight: 200;
  text-rendering: optimizelegibility; }

/****************************************************

Basic styles

****************************************************/
::selection {
  background: #9ab4cb;
  color: white; }

::-moz-selection {
  background: #9ab4cb;
  color: white; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.align_left {
  text-align: left; }

.align_right {
  text-align: right; }

.align_center {
  text-align: center; }

:-moz-placeholder {
  color: rgba(210, 210, 210, 0.8) !important; }

.center_content {
  text-align: center;
  margin: 0 auto;
  width: 90%; }

/* Palette - only on demo */
#palette {
  zoom: 1; }
  #palette:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  #palette li {
    text-align: center;
    margin: 4em 1em;
    float: left;
    color: #797979; }
    #palette li span {
      font-size: .8em;
      line-height: 1.875em; }

.preview {
  margin: 0 auto;
  height: 5em;
  width: 5em;
  border-radius: 120px; }

/* @end Palette */
/************** PAGE STYLE   ****************/
header {
  background: url(../images/header.jpg) repeat-x left top;
  width: 100%;
  height: 3em;
  zoom: 1; }
  header:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.box_main {
  width: 23em;
  background: #9ab4cb;
  box-shadow: 1px 1px 3px #555555;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.bg_gradient {
  background-color: #9ab4cb;
  background-image: -o-linear-gradient(bottom, #6f7d9a 23%, #9ab4cb 63%);
  background-image: -moz-linear-gradient(bottom, #6f7d9a 23%, #9ab4cb 63%);
  background-image: -webkit-linear-gradient(bottom, #6f7d9a 23%, #9ab4cb 63%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(23%, #6f7d9a), color-stop(63%, #9ab4cb));
  background-image: linear-gradient(bottom, #6f7d9a 23%, #9ab4cb 63%); }

footer {
  border-top: solid 1px #e9e9e9;
  padding: 0.8em 0;
  background: white;
  zoom: 1; }
  footer:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

@media screen and (min-height: 700px) {
  .foot_fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; } }
nav {
  margin-left: 15%;
  margin-top: .5em;
  width: 40%;
  float: left;
  color: #888;
  font-size: .75em;
  line-height: 1.3333333333333em; }
  nav a {
    color: #6f7d9a;
    font-weight: 700;
    margin-left: 1.5em;
    display: inline-block; }

/*****   homepage checkbox male/female   *******/
.regular-checkbox {
  display: none; }

.regular-checkbox + label,
.regular-checkbox.female + label {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 9px 20px;
  border-radius: 5px 0 0 5px;
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1.5em;
  margin-left: 3em;
  margin-top: .4em;
  cursor: pointer;
  background-color: #e6e6e6;
  background-image: -o-linear-gradient(bottom, white 25%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(bottom, white 25%, #e6e6e6 100%);
  background-image: -webkit-linear-gradient(bottom, white 25%, #e6e6e6 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25%, white), color-stop(100%, #e6e6e6));
  background-image: linear-gradient(bottom, white 25%, #e6e6e6 100%);
  border-color: rgba(204, 204, 204, 0.2) rgba(204, 204, 204, 0.2) rgba(179, 179, 179, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.regular-checkbox.female + label {
  color: #9e7a9f;
  border-radius: 0 5px 5px 0;
  margin-left: -5px; }

.regular-checkbox + label:after {
  content: 'Male';
  font-size: 14px;
  line-height: 2em;
  position: absolute;
  top: 0;
  left: 14px;
  color: #647082; }

.regular-checkbox.female + label:after {
  content: 'Female';
  font-size: 14px;
  line-height: 2em;
  position: absolute;
  left: 7px;
  color: #9e7a9f; }

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.regular-checkbox:checked + label {
  background: #416F95;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 2px 1px 3px rgba(82, 168, 236, 0.26); }

.regular-checkbox.female:checked + label {
  background: #9e7a9f; }

.regular-checkbox:checked + label:after {
  content: 'Male';
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 14px;
  color: #fff; }

.regular-checkbox.female:checked + label:after {
  content: 'Female';
  font-size: 14px;
  line-height: 2em;
  position: absolute;
  left: 7px;
  color: white; }

/********  Message Feedback  + Notification box *********/
/*   Green default  */
.advice {
  background: #fff;
  border: 1px solid #e9e9e9;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: .9em;
  line-height: 1.666666666em;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  zoom: 1; }
  .advice:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  .advice h3 {
    margin-top: 0.382em; }

.advice .icon-remove {
  position: relative;
  right: 1em;
  top: 1em; }

.left-adv {
  background: #9ab4cb;
  width: 7%;
  margin-right: .618em;
  display: block;
  border-radius: 5px 0 0 5px;
  float: left;
  color: #fff;
  font-size: 2.618em;
  text-align: center;
  line-height: 3em;
  padding-left: 3%; }

.body-adv {
  float: left;
  width: 80%; }

.error .left-adv {
  background-color: #ea494a; }

.ok .left-adv {
  background-color: #4cb158; }

.close {
  float: right;
  font-size: .9em;
  font-weight: bold;
  color: #e6edf4;
  text-shadow: 0 1px 0 white;
  cursor: pointer; }

.panel {
  width: 100%;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 1em;
  background: #fff;
  border: 1px solid #e9e9e9; }

.panel-content {
  padding: 0 0 0 1em; }

.panel-icon {
  float: right;
  font-size: 4.25em;
  color: #d4d4d4;
  line-height: 1em;
  margin-left: .2em;
  margin-top: -0.5em; }

.panel-vertical {
  width: 90%; }

.bar {
  background: #fff;
  border: 1px solid #e9e9e9;
  height: .5em;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.bar li {
  color: #797979;
  text-align: center;
  font-size: 1em;
  width: 2em;
  height: 2em;
  border-radius: 8em;
  background: #fff;
  border: 1px solid #e9e9e9;
  top: -.8em;
  position: relative;
  line-height: 2em;
  margin-right: 2em;
  float: left; }

li.step_active {
  background: #6b8ca4;
  color: #fff;
  border: none; }

#breadcrumbs-two {
  overflow: hidden;
  width: 100%;
  opacity: .4;
  margin: 1em 0; }

#breadcrumbs-two li {
  float: left;
  margin: 0 0.5em 0 1em; }

#breadcrumbs-two a {
  background: #ddd;
  padding: .7em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  position: relative; }

#breadcrumbs-two a:hover {
  background: #d5d5d5; }

#breadcrumbs-two a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #dddddd #dddddd #dddddd transparent;
  left: -1em; }

#breadcrumbs-two a:hover::before {
  border-color: #d5d5d6 #d5d5d5 #d5d5d5 transparent; }

#breadcrumbs-two a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #dddddd;
  right: -1em; }

#breadcrumbs-two a:hover::after {
  border-left-color: #d5d5d5; }

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover {
  font-weight: bold;
  background: none; }

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before {
  content: normal; }

.statement {
  font-size: 4em;
  font-weight: 400; }

.active_num {
  color: #d5d5d5; }

/*******************************  

     Main Menu Top (white)    
     
*************************************/
.main_menu {
  width: 100%;
  background: #fff;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9; }

.nav {
  padding-left: 14%;
  zoom: 1; }
  .nav:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.nav li {
  float: left;
  font-weight: bold;
  font-size: .75em;
  position: relative; }

.nav li a {
  color: #6f7d9a;
  padding: 1.15em 1.3em;
  display: block; }

.nav li a:hover {
  color: #647082; }

.nav li a:active {
  color: #416f95; }

/*************************************** 


Menu drop top -- User 


*******************************/
.avatar {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 1.618em;
  width: 1.618em;
  background: #000;
  display: inline-block;
  float: left;
  margin-right: .7em;
  margin-left: -.4em;
  margin-top: .1em;
  overflow: hidden; }

.user_name {
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased; }

.user_name b:after {
  content: "";
  width: 0;
  height: 0;
  position: relative;
  left: 1em;
  top: 1em;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: white transparent; }

.wrapper-dropdown-user {
  position: relative;
  min-width: 12em;
  padding: 1em 1.5em;
  color: #fff;
  font-size: .8em;
  float: right;
  cursor: pointer;
  outline: none; }

.wrapper-dropdown-user .dropdown {
  /* Size & position */
  position: absolute;
  top: 3.6em;
  left: 0;
  right: 0;
  z-index: 99;
  /* Styles */
  list-style: none;
  border-radius: 0 0 0.5em 0.5em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /* Hiding */
  opacity: 0;
  pointer-events: none;
  box-shadow: 1px 1px 1px rgba(95, 95, 95, 0.5); }

.wrapper-dropdown-user .dropdown li:first-child {
  background: #647082; }

#dd i {
  font-size: 1.8em; }

.see_views:hover .people_views {
  visibility: visible;
  opacity: 1; }

.people_views {
  position: absolute;
  width: 16em;
  height: 4em;
  left: 15em;
  top: 0;
  color: white;
  background: #607282;
  box-shadow: 1px 0px 1px rgba(95, 95, 95, 0.5);
  visibility: hidden;
  opacity: 0;
  /* Styles */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.people_views img {
  width: 4em;
  float: left;
  border: none; }

.wrapper-dropdown-user .dropdown .people_views a {
  border: none!important;
  padding: 0; }

.wrapper-dropdown-user .dropdown .more {
  background: rgba(0, 0, 0, 0.3);
  border-radius: .2em;
  color: #fff;
  margin-left: .4em;
  margin-top: 1.2em;
  padding: .3em;
  margin-right: 0;
  font-size: 1em; }

.view {
  background: rgba(0, 0, 0, 0.3);
  border-radius: .2em;
  padding: 0 0.5em;
  margin-left: 0.6em; }

.notification {
  display: inline-block;
  background: #6c879b;
  border-radius: 2em;
  width: .5em;
  height: .5em;
  position: relative;
  top: -0.6em;
  left: -1.1em;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.46); }

.wrapper-dropdown-user .dropdown li a {
  border-top: solid 1px rgba(96, 113, 140, 0.45);
  font-size: 1em;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1.2em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.wrapper-dropdown-user .dropdown li i {
  font-size: 1.4em;
  margin-right: .618em;
  margin-left: .135em;
  line-height: 1em; }

/* Hover state */
.wrapper-dropdown-user .dropdown li:hover a {
  color: white;
  background: #607282;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

.wrapper-dropdown-user .dropdown li:last-child:hover a {
  border-radius: 0 0 0.5em 0.5em; }

/* Active state */
.wrapper-dropdown-user.active:after {
  border-width: 0 6px 6px 6px;
  border-color: #607282 transparent; }

.wrapper-dropdown-user.active .dropdown {
  opacity: 1;
  pointer-events: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400; }

/* Menu drop bottom/languages  */
.wrapper-dropdown-2 {
  position: relative;
  width: 10em;
  padding: 0 1em;
  color: #888;
  font-size: .75em;
  line-height: 2em;
  float: right;
  margin-right: 15%;
  cursor: pointer;
  outline: none; }

.wrapper-dropdown-2:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: grey transparent; }

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
  position: absolute;
  top: -10em;
  left: -5px;
  right: 0;
  /* Styles */
  background: white;
  list-style: none;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: white;
  line-height: 1em;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.21);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /* Hiding */
  opacity: 0;
  pointer-events: none; }

.wrapper-dropdown-2 .dropdown li a {
  display: block;
  text-decoration: none;
  color: #797979;
  padding: 1em;
  padding-left: 3.7em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.wrapper-dropdown-2 .dropdown li i {
  margin-right: 5px;
  color: inherit;
  vertical-align: middle; }

/* Hover state */
.wrapper-dropdown-2 li:hover a {
  color: white;
  background: #416f95; }

/* Active state */
.wrapper-dropdown-2.active:after {
  border-width: 0 6px 6px 6px; }

.wrapper-dropdown-2.active .dropdown {
  opacity: 1;
  pointer-events: auto; }

/* No CSS3 support */
.no-opacity .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown,
.no-opacity .wrapper-dropdown-user .dropdown,
.no-pointerevents .wrapper-dropdown-user .dropdown {
  display: none;
  opacity: 1;
  /* If opacity support but no pointer-events support */
  pointer-events: auto;
  /* If pointer-events support but no pointer-events support */ }

.no-opacity .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown,
.no-opacity .wrapper-dropdown-user.active .dropdown,
.no-pointerevents .wrapper-dropdown-user.active .dropdown {
  display: block; }

/******************** 


Homepage  


****************/
header img {
  padding: 0.5em 0 0; }

.login_home {
  float: right;
  font-size: .8em;
  margin-right: 4em;
  line-height: 3.5em;
  width: 5em; }

.login_home a {
  color: white; }

.login_home a:hover {
  color: #f2f2f2; }

.login_home i {
  margin-right: 1em;
  float: left; }

.main {
  margin-left: 15%;
  margin-top: 0; }

.title {
  margin-left: 14%;
  margin-top: 3em;
  background: #fff;
  border: solid 1px #6f7d9a;
  padding: .346em;
  padding-left: 5%;
  padding-right: 15%;
  width: 42%; }

.homepage {
  position: absolute;
  z-index: 2;
  left: 63%;
  top: 5em; }

.label {
  color: #fff;
  font-size: .8em;
  line-height: 2em;
  margin: 1em 0; }

.label select {
  margin-top: 1em;
  margin-right: 1em; }

.category {
  width: 32%;
  float: left;
  text-align: right;
  margin-top: .5em; }

.facebook {
  background: #6f7d9a;
  text-align: center;
  padding: 0.6em 0; }

.term {
  padding-top: .8em;
  text-align: right;
  margin-right: 10%; }

.register {
  text-align: center;
  margin-top: 1.5em; }

.search {
  width: 50%;
  margin-left: 15%;
  text-align: center;
  margin-bottom: 4em; }

.search p {
  font-size: .75em;
  text-align: center; }

.info_home {
  background: white;
  text-align: center;
  padding-bottom: 3em;
  border: 1px solid #e9e9e9;
  zoom: 1; }
  .info_home:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.home {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 2em;
  width: 70%; }

.box_container {
  background: url("../images/bg_middle_home.png") repeat-x;
  height: 34em; }

.box {
  width: 25%;
  margin: 6em 2% 0;
  float: left;
  height: 26em;
  overflow: hidden; }

.first {
  margin-left: 9%; }

.box img {
  margin-top: 1em;
  max-width: 100%; }

.box p {
  text-align: center; }

.box h3 {
  padding: 1em 0;
  line-height: .923em; }

/************   end homepage ***************/
/****************************************************

Login page

****************************************************/
.main_login {
  text-align: center;
  margin-top: 4em; }

.space {
  margin-top: 2em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.remember {
  margin-left: 4.3em;
  text-align: left;
  float: left; }

.forgot {
  float: right;
  color: #fff;
  margin-right: 4.2em;
  font-size: .9em;
  margin-top: .2em;
  cursor: pointer; }

.forgot_back {
  float: right;
  color: #fff;
  margin-right: 4.2em;
  font-size: .75em;
  margin-top: .2em;
  cursor: pointer; }

.forgot_back:hover, .forgot:hover {
  color: #e6edf4; }

.notif {
  width: 268px;
  padding: 6px;
  color: rgba(255, 255, 255, 0.9);
  font: 200 1em/2.2em helvetica;
  border-width: 1px;
  background: rgba(17, 17, 17, 0.48);
  border-style: solid;
  border-image: none;
  border-color: rgba(17, 17, 17, 0.2) rgba(17, 17, 17, 0.3) rgba(17, 17, 17, 0.4);
  position: absolute;
  margin-left: 34em;
  margin-top: -4.2em;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -ms-animation: fadeIn ease both 1s 1s;
  -moz-animation: fadeIn ease both 1s 1s;
  -o-animation: fadeIn ease both 1s 1s;
  -webkit-animation: fadeIn ease both 1s 1s;
  animation: fadeIn ease both 1s 1s;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* animation class for the login page */
.fadeInDown {
  -ms-animation: fadeInDown ease both 2s 0.3s;
  -moz-animation: fadeInDown ease both 2s 0.3s;
  -o-animation: fadeInDown ease both 2s 0.3s;
  -webkit-animation: fadeInDown ease both 2s 0.3s;
  animation: fadeInDown ease both 2s 0.3s; }

.fadeInUp {
  -ms-animation: fadeInUp ease both 2s 0.3s;
  -moz-animation: fadeInUp ease both 2s 0.3s;
  -o-animation: fadeInUp ease both 2s 0.3s;
  -webkit-animation: fadeInUp ease both 2s 0.3s;
  animation: fadeInUp ease both 2s 0.3s; }

/****************************************************


User Logged main page 


****************************************************/
.logo {
  float: left;
  margin-left: 15%; }

.container_head_right {
  display: block;
  height: 3em;
  float: right;
  margin-right: 15%; }

.menu_logged {
  float: left; }

.menu_logged img {
  padding: 0; }

.head_box {
  color: #fff;
  font-size: .8em;
  line-height: 3.7em;
  float: left;
  margin-left: 2em; }

.head_box a {
  color: #f0f0f0; }

.head_box:hover {
  color: white; }

.perc {
  background: rgba(0, 0, 0, 0.3);
  border-radius: .2em;
  padding: 0 0.5em; }

.new_m.no_new {
  background: #647082; }

.new_m.no_new:before {
  background: #647082; }

.new_m {
  background: #b2d754;
  padding: 0.2em 0.6em;
  border-radius: .5em;
  margin-left: 0.5em; }

.new_m:before {
  content: "";
  display: block;
  background: #b2d754;
  position: relative;
  float: right;
  top: 1.65em;
  right: 1.95em;
  margin-left: 0;
  width: .5em;
  height: .5em;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/*******  

 
 Grid People logged   
 
 

 **********/
.main_logged {
  width: 100%;
  zoom: 1; }
  .main_logged:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.arrow_left.disabled_arrow,
.arrow_left.disabled_arrow:hover {
  opacity: .15;
  cursor: none !important; }

.arrow_left,
.arrow_right {
  float: left;
  width: 10%;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: .8;
  z-index: 999999999999;
  position: relative; }

.arrow_left img,
.arrow_right img {
  padding: 4em 1.4em; }

.arrow_right {
  float: right; }

.arrow_left:hover,
.arrow_right:hover {
  opacity: 1;
  cursor: pointer; }

.center {
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  padding: 0; }

.close_profile {
  cursor: pointer; }

.col1 a, .col2 a {
  opacity: 0; }

/****************************************************


User Assets


****************************************************/
.active_nav .arrow,
.active_nav .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.active_nav .arrow {
  top: 3.8em;
  margin-left: -11px;
  border-top-color: #fff;
  border-width: 10px 10px 0;
  left: 50%; }

.active_nav .arrow:after {
  bottom: -1px;
  left: -11px;
  border-top-color: #e9e9e9;
  border-width: 11px 11px 0;
  z-index: -1;
  content: ""; }

.content_user {
  width: 70%;
  background: #fff;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #e9e9e9;
  margin-bottom: 4em; }
  @media (min-width: 1400px) {
    .content_user {
      width: 62em; } }
  .content_user:after {
    content: '';
    display: block;
    clear: both;
    padding-bottom: 2em; }

.new_message {
  width: 68%;
  margin: 0 auto;
  background: #fff;
  clear: both;
  padding: 0 1%; }

.new_message a {
  margin: 1em !important; }

.right_i {
  margin-left: .6em;
  float: right; }

.right_btn {
  float: right; }

.bottom_menu {
  margin-bottom: 4em; }

.message {
  width: 94%;
  margin: 0 auto;
  padding: 1.5em 0 1.618em;
  border-bottom: 1px solid #e9e9e9;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  zoom: 1; }
  .message:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  .message:hover {
    cursor: pointer; }

.square {
  float: left;
  font-size: 1.5em;
  color: #ebebeb;
  padding: 1em 0.6em;
  width: 0.2em; }

.new_msg i {
  color: #6f7d9a; }

.avatar_mes {
  height: 3.3em;
  width: 3.3em;
  float: left;
  margin-top: 1em;
  overflow: hidden; }

.avatar_mes img {
  width: 100%; }

.detail {
  width: 70%;
  float: left;
  margin-left: .927em; }
  .detail h3 {
    margin-top: 0; }
  .detail p {
    font-size: .8em; }

.date {
  float: right;
  font-size: .8em;
  color: #647082;
  width: 8%;
  margin-top: 1em;
  text-align: right;
  margin-right: 1em; }

.check {
  float: left;
  margin: 3.2em 0.8em 4em 1.6em; }

.second_menu {
  width: 70%;
  margin: 0 auto;
  color: #fff;
  font-size: .7em;
  line-height: 2.1428em;
  padding: 0.7em 0;
  background: #6f7d9a; }

.second_menu a {
  color: white; }

.second_menu a:hover {
  text-decoration: underline; }

.select_message {
  margin-left: 3em; }

  /********************  
 
 
User_settings_page
  
  
 **********************/
.block_wrap {
  width: 100%;
  display: inline-block;
  padding: 2em 0;
  zoom: 1; }
  .block_wrap:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.block_wrap:nth-child(2n+0) {
  background: #fff;
  padding: 3em 1em;
  margin-left: -1em; }

.current_data {
  margin-bottom: 1em;
  padding: 0.5em 0.8em;
  background-color: #eaeaea;
  border-radius: 5px;
  color: #424242;
  font-size: .8em;
  border: 1px solid lightgrey;
  display: inline-block; }

/********************  


 single_user_profile logged_page
 
 
**********************/
.close_profile {
  margin-bottom: -1.6em; }

.profile {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  margin-top: 0;
  padding-bottom: 2.427em;
  zoom: 1; }
  .profile:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  .profile h3 {
    margin-top: 0.461em; }
  .profile img {
    float: left;
    margin-right: 1em; }

.icon_box {
  float: left;
  background: #9ab4cb;
  color: #647082;
  width: 2.9em; }

.icon_box i {
  padding: 1.25em 1.1em;
  color: #fff;
  border-bottom: solid 1px white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.icon_box i:hover {
  background: #fff;
  color: #9ab4cb; }

.prof_sx {
  float: left;
  width: 350px; }

.single_tag {
  font-size: .7em;
  color: #fff;
  background: #416f95;
  padding: 0.2em 0.5em;
  border-radius: 5px; }

.compability {
  float: left; }

.circle {
  background: #6f7d9a;
  width: 8em;
  height: 8em;
  border-radius: 20em;
  margin-left: 1em; }

.about_user {
  float: none;
  clear: both;
  border-bottom: solid 1px #f1f1f1;
  border-top: solid 1px #f1f1f1;
  padding: 0.927em 3em;
  background: #f9f9f9; }

.info_user {
  color: #797979; }

.test_user {
  margin-top: -2em;
  padding-bottom: 2em; }

/**************** 

        table

	*****************/
table {
  width: 100%;
  margin: 2em 0;
  border-collapse: collapse;
  font-size: .8em;
  line-height: 1.875em;
  background: #fff;
  color: #797979; }
  table img {
    height: 4em;
    width: 4em; }

tr {
  border-bottom: 1px solid #e9e9e9; }

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #f8f8f8; }

th {
  background: white;
  color: #647082;
  font-weight: bold; }

td, th {
  padding: 0.8em 1em;
  text-align: left;
  vertical-align: middle; }

/****************************************************

  Secondary pages 
  
****************************************************/
.bg_top {
  background: url("../images/bg_top.jpg") repeat-x;
  padding: 1.6em 0; }

.title_page {
  margin-top: .45em;
  margin-left: 15%;
  color: #fff;
  width: 70%; }

.info_sx {
  float: left;
  width: 23%;
  text-align: left;
  margin-left: 15%; }

.info_dx h3 {
  color: white; }

.header_dx {
  background: #6f7d9a;
  padding: 2em; }

.info_dx {
  float: left;
  width: 52%;
  padding-bottom: 3.5em;
  overflow: hidden;
  border: 1px solid #e9e9e9;
  margin-top: 2em;
  background: #fafafb;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  max-width: 45em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.info_dx p {
  padding: 0 3.5em 0; }

.illustration {
  max-width: 100%;
  margin: 0 0 2em; }

.menu_column {
  font-size: .8em;
  line-height: 1.875em;
  text-align: left;
  width: 16.633em;
  background: #f0f4f7;
  padding: 0.927em 0 1.1em 0.927em; }

.menu_column li {
  border-top: 1px solid #e9e9e9;
  text-shadow: 0 1px 0 white; }

.menu_column li:last-child {
  border-bottom: 1px solid #e9e9e9; }

.menu_column a {
  display: block;
  padding: 0.85em 0 0.85em 0.618em; }

.menu_column a:hover {
  background: rgba(0, 0, 0, 0.03); }

.menu_column li.active_menu a {
  background: #fff;
  color: #6f7d9a;
  cursor: default;
  text-shadow: none; }

.active_menu a {
  color: white; }

.thanks:after {
  display: block;
  clear: both;
  content: '';
  padding-bottom: 2.7em; }

.main_message {
  color: #797979;
  padding: 0 3.927em 1.618em;
  font-size: 1em;
  text-align: left;
  zoom: 1; }
  .main_message:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.main_message img {
  margin-top: 4em;
  float: none; }

.position_right {
  position: absolute;
  right: 2%; }

/****************************************************
  

Custom pages  


****************************************************/
.content_padding {
  margin: 0 auto;
  width: 90%; }

.content_central {
  display: block;
  color: #999999;
  background: #f0f4f7;
  border: 1px solid #e9e9e9;
  margin: 3em 0 2em;
  padding: 2em 1em; }

.content_central input[type="radio"], .content_central input[type="checkbox"] {
  margin-right: 4em;
  margin-bottom: 2em;
  display: block;
  float: left;
  margin-top: .5em; }

.form-container {
  margin: 1.5em 0 3em; }

label {
  color: #797979;
  line-height: 1.5em;
  font-size: 1em;
  margin-top: .2em;
  margin-bottom: .5em;
  display: block; }

.the_title {
  margin-bottom: 2em;
  border-bottom: 1px solid #eeeeee; }

.checkbox,
.radio {
  margin-bottom: 1.5em;
  padding: 0;
  padding-left: 2em;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-backface-visibility: hidden; }

.checkbox:hover,
.radio:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  border-radius: .5em; }

.checkbox input,
.radio input {
  outline: none !important;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1; }

.checkbox.checked .icon,
.radio.checked .icon {
  background-position: -60px -30px;
  opacity: 1;
  display: block\9; }

.checkbox.checked .icon-to-fade,
.radio.checked .icon-to-fade {
  opacity: 0;
  display: none\9; }

.checkbox.disabled,
.radio.disabled {
  color: #d7dddd;
  cursor: default; }

.checkbox.disabled .icon,
.radio.disabled .icon {
  opacity: 0;
  display: none\9; }

.checkbox.disabled .icon-to-fade,
.radio.disabled .icon-to-fade {
  background-position: -30px -60px;
  opacity: 1;
  display: block\9; }

.checkbox.disabled.checked .icon,
.radio.disabled.checked .icon {
  background-position: 0 -90px;
  opacity: 1;
  display: block\9; }

.checkbox.disabled.checked .icon-to-fade,
.radio.disabled.checked .icon-to-fade {
  opacity: 0;
  display: none\9; }

.checkbox .icon,
.checkbox .icon-to-fade,
.radio .icon,
.radio .icon-to-fade {
  background: url("../images/checkbox.png") -90px 0 no-repeat;
  display: block;
  height: 20px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 20px;
  margin: 0.1em 0.3em;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }

.checkbox .icon,
.radio .icon {
  opacity: 0;
  top: 0;
  z-index: 2;
  display: none\9; }

.radio .icon,
.radio .icon-to-fade {
  background-image: url("../images/radio.png"); }

.radio input {
  height: 5em; }

/****************************************************


 Send Message form  Page
 
 
****************************************************/
.menu_title_page {
  width: 70%;
  margin: 0 auto; }
  @media (min-width: 1400px) {
    .menu_title_page {
      width: 62em; } }
  .menu_title_page h2 {
    margin-top: .57em; }
  .menu_title_page a {
    color: #6f7d9a; }

.send_message {
  margin-top: 2em; }

.send_message input, .send_message textarea {
  width: 90%; }

.recieve_message {
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.3) inset;
  background: #fff;
  width: 90%;
  height: 2em;
  padding: 0.3em 0.5em;
  background-color: white;
  border: 1px solid #cccccc;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: white;
  vertical-align: middle;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.tag_people {
  background: #9ab4cb;
  display: inline-block;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.cancel {
  cursor: pointer;
  background: #6f7d9a;
  text-align: center;
  width: 1.6em;
  height: 1.7em;
  margin-top: .15em;
  display: inline-block;
  margin-left: .618em;
  position: relative;
  float: right;
  font-size: .8em;
  opacity: .8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.cancel:hover {
  opacity: 1; }

.menu_add {
  background: white;
  border: 1px solid #e9e9e9;
  padding: 0.618em 0.927em;
  position: relative;
  margin-left: 10px; }

.menu_add li {
  padding: 0.06em 0;
  font-size: .8em;
  line-height: 1.875em; }

.menu_add .arrow,
.menu_add .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: white; }

.menu_add .arrow {
  top: 16%;
  left: -11px;
  margin-top: -11px;
  border-width: 11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: #e9e9e9; }

/****************************************************




 Flip Effect in Login Page
 
 

 ****************************************************/
.login {
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  margin: 0 auto;
  width: 23em;
  margin-top: 2em; }

.card {
  width: 23em;
  height: 412px;
  -ms-transform-style: preserve-3d;
  -ms-transition: .5s;
  -o-transform-style: preserve-3d;
  -o-transition: .5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: .5s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: .5s;
  transform-style: preserve-3d;
  transition: .5s;
  zoom: 1; }
  .card:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.flippa {
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.face2 {
  position: absolute;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.front input[type="text"], .front input[type="email"] {
  width: 18em;
  margin: 0;
  border-radius: 5px 5px 0 0;
  border: 0;
  height: 2.5em; }

input[type="email"].bottom_input {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #dedede;
  box-shadow: none; }

.back input {
  width: 17em; }

.front, .back {
  width: 23em;
  padding-top: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #555555;
  /*overflow: hidden;*/
  text-align: center; }

.login .back {
  height: 372px;
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.back p {
  color: #fff;
  padding: 1em 2em;
  background: #647082;
  margin-bottom: 3em; }

.front {
  z-index: 10; }

.index {
  z-index: 0; }

/*-------------------------------------*\
	HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/labs/hintcss
 *
 * Release under The MIT License s
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 * 
 * Classes added:
 * 	1) hint
 */
.hint {
  position: relative;
  display: inline-block;
  font-weight: 400;
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */ }
  .hint:before, .hint:after {
    position: absolute;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .hint:hover:before, .hint:hover:after {
    opacity: 1; }
  .hint:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 0.4em solid transparent;
    z-index: 1000001; }
  .hint:after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    text-shadow: 0 -1px 0px black;
    padding: 0.5em 1em;
    font-size: .8em;
    line-height: 1.5em;
    font-weight: 200;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 * 
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
.hint--top:before {
  border-top-color: #383838; }

.hint--bottom:before {
  border-bottom-color: #383838; }

.hint--left:before {
  border-left-color: #383838; }

.hint--right:before {
  border-right-color: #383838; }

/**
 * top tooltip
 */
.hint--top:before {
  margin-bottom: -0.8em; }
.hint--top:after {
  margin-left: -1.6em; }
.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 50%; }
.hint--top:hover:before, .hint--top:hover:after {
  -webkit-transform: translateY(-0.5em);
  -moz-transform: translateY(-0.5em);
  transform: translateY(-0.5em); }

/**
 * bottom tooltip
 */
.hint--bottom:before {
  margin-top: -0.8em; }
.hint--bottom:after {
  margin-left: -1.6em; }
.hint--bottom:before, .hint--bottom:after {
  top: 100%;
  left: 50%; }
.hint--bottom:hover:before, .hint--bottom:hover:after {
  -webkit-transform: translateY(0.5em);
  -moz-transform: translateY(0.5em);
  transform: translateY(0.5em); }

/**
 * right tooltip
 */
.hint--right:before {
  margin-left: -0.8em;
  margin-bottom: -0.4em; }
.hint--right:after {
  margin-bottom: -1em; }
.hint--right:before, .hint--right:after {
  left: 100%;
  bottom: 50%; }
.hint--right:hover:before, .hint--right:hover:after {
  -webkit-transform: translateX(0.5em);
  -moz-transform: translateX(0.5em);
  transform: translateX(0.5em); }

/**
 * left tooltip
 */
.hint--left:before {
  margin-right: -0.8em;
  margin-bottom: -0.4em; }
.hint--left:after {
  margin-bottom: -1em; }
.hint--left:before, .hint--left:after {
  right: 100%;
  bottom: 50%; }
.hint--left:hover:before, .hint--left:hover:after {
  -webkit-transform: translateX(-0.5em);
  -moz-transform: translateX(-0.5em);
  transform: translateX(-0.5em); }

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 * 
 * Classes added:
 * 	1) hint--error
 * 	2) hint--warning
 * 	3) hint--info
 * 	4) hint--success
 * 	
 */
/**
 * Error
 */
.hint--error:after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0 #592726; }
.hint--error.hint--top:before {
  border-top-color: #b34e4d; }
.hint--error.hint--bottom:before {
  border-bottom-color: #b34e4d; }
.hint--error.hint--left:before {
  border-left-color: #b34e4d; }
.hint--error.hint--right:before {
  border-right-color: #b34e4d; }

/**
 * Warning
 */
.hint--warning:after {
  background-color: #c09854;
  text-shadow: 0 -1px 0 #6c5328; }
.hint--warning.hint--top:before {
  border-top-color: #c09854; }
.hint--warning.hint--bottom:before {
  border-bottom-color: #c09854; }
.hint--warning.hint--left:before {
  border-left-color: #c09854; }
.hint--warning.hint--right:before {
  border-right-color: #c09854; }

/**
 * Info
 */
.hint--info:after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0 #193b4d; }
.hint--info.hint--top:before {
  border-top-color: #3986ac; }
.hint--info.hint--bottom:before {
  border-bottom-color: #3986ac; }
.hint--info.hint--left:before {
  border-left-color: #3986ac; }
.hint--info.hint--right:before {
  border-right-color: #3986ac; }

/**
 * Success
 */
.hint--success:after {
  background-color: #458746;
  text-shadow: 0 -1px 0 #1a321a; }
.hint--success.hint--top:before {
  border-top-color: #458746; }
.hint--success.hint--bottom:before {
  border-bottom-color: #458746; }
.hint--success.hint--left:before {
  border-left-color: #458746; }
.hint--success.hint--right:before {
  border-right-color: #458746; }

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 * 
 * Classes added:
 * 	1) hint--always
 * 	
 */
.hint--always:after, .hint--always:before {
  opacity: 1; }
.hint--always.hint--top:after, .hint--always.hint--top:before {
  -webkit-transform: translateY-0.5em;
  -moz-transform: translateY-0.5em;
  transform: translateY-0.5em; }
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
  -webkit-transform: translateY0.5em;
  -moz-transform: translateY0.5em;
  transform: translateY0.5em; }
.hint--always.hint--left:after, .hint--always.hint--left:before {
  -webkit-transform: translateX-0.5em;
  -moz-transform: translateX-0.5em;
  transform: translateX-0.5em; }
.hint--always.hint--right:after, .hint--always.hint--right:before {
  -webkit-transform: translateX0.5em;
  -moz-transform: translateX0.5em;
  transform: translateX0.5em; }

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 * 
 * Classes added:
 * 	1) hint--rounded
 *  
 */
.hint--rounded:after {
  border-radius: 4px; }

/**************************

chat page
  
 *****************************/
.chat_content {
  width: 70%;
  background: #fff;
  height: 40em;
  overflow: hidden;
  margin: 0 auto; }

.col_sx_chat {
  width: 30%;
  float: left;
  height: 100%;
  background: #f8f8f8;
  height: 40em;
  overflow: auto; }

.userList li {
  font-size: .8em;
  border-top: 1px solid white;
  border-bottom: 1px solid #cecece;
  display: block;
  height: 5.5em; }

.userList li a {
  color: #6a6a6a;
  padding: 10px 14px;
  display: block;
  position: relative;
  padding-bottom: 2em;
  height: 2.84em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.userList li a:hover {
  background: #E6EDF4; }

.contactName {
  margin-top: 1em;
  display: block;
  width: 70%;
  margin-left: 4em; }

.updates {
  background: #9AB4CB;
  color: #fff;
  border-radius: 5px;
  padding: 0.1em 0.5em;
  margin-left: .5em;
  font-size: 0.8em; }

.userList li img {
  margin: 0 10px 0 0;
  box-shadow: 0 1px 1px whitesmoke;
  height: 3.3em;
  width: 3.3em;
  float: left;
  margin-top: .5em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden; }

.status {
  float: right;
  border-radius: 2em;
  width: .8em;
  height: 0.8em;
  position: relative;
  top: -3em;
  right: 1em;
  box-shadow: 1px 1px 0px white; }

.no_disturb {
  background: #ff6969; }

.away {
  background: #f6b430; }

.on_line {
  background: #46e17f; }

.active_user {
  background: white; }

.col_dx_chat {
  float: right;
  height: 100%;
  background: #fff;
  width: 70%;
  height: 40em;
  overflow: auto; }

.center_col {
  width: 30em;
  margin: 0 auto; }

.cVa {
  background-color: transparent;
  height: 8px;
  left: 30%;
  margin: -1px 0px -9px;
  opacity: 0;
  position: relative;
  z-index: 11;
  width: 70%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.2), transparent);
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.2), transparent);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.2), transparent);
  background-image: -ms-linear-gradient(center top, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.2), transparent); }

.chatList {
  width: 30em;
  margin: 0 auto; }

.chatList li {
  -ms-animation: fadeInLeft ease both 2s 0.5s;
  -moz-animation: fadeInLeft ease both 2s 0.5s;
  -o-animation: fadeInLeft ease both 2s 0.5s;
  -webkit-animation: fadeInLeft ease both 2s 0.5s;
  animation: fadeInLeft ease both 2s 0.5s;
  zoom: 1; }
  .chatList li:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.chatList li.me {
  -ms-animation: fadeInRight ease both 2s 0.5s;
  -moz-animation: fadeInRight ease both 2s 0.5s;
  -o-animation: fadeInRight ease both 2s 0.5s;
  -webkit-animation: fadeInRight ease both 2s 0.5s;
  animation: fadeInRight ease both 2s 0.5s; }

.chatList li img {
  border: 1px solid #f9f9f9;
  height: 3em;
  width: 3em;
  float: left;
  margin: 1.5em 1.5em 1em; }

.msg_chat {
  width: 68%;
  float: left;
  border: 1px solid #dadada;
  margin-top: .5em;
  border-radius: 3px;
  min-height: 1.4em;
  background: #fafafa;
  color: #555555;
  padding: 1em;
  font-size: .8em;
  line-height: 1.4em; }

.the_user {
  float: left;
  font-size: .9em; }

.time_msg {
  float: right;
  font-size: .9em; }

.text_msg {
  clear: both;
  display: block;
  content: '';
  margin-top: 2.5em; }

.arrow,
.arrow:after {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  left: 1px;
  bottom: 10px;
  border-left-width: 0;
  border-right-color: #fafafa; }

.arrow {
  top: 38px;
  left: 5.7em;
  margin-top: 0px;
  border-width: 8px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: #dadada; }

.chatList li.me img {
  float: right; }

.me .msg_chat {
  background: #e8ffeb;
  margin-left: 1.9em; }

.arrow_dx,
.arrow_dx:after {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  left: -11px;
  bottom: 10px;
  border-right-width: 0;
  border-left-color: #e8ffeb; }

.arrow_dx {
  top: 38px;
  left: 78.8%;
  margin-top: 0px;
  border-width: 8px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: #dadada; }

.divider {
  background: #eee;
  height: 16em;
  clear: both;
  margin-top: 8em;
  border-top: 1px solid #c9c9c9; }

.content_divider {
  width: 30em;
  margin: 0 auto; }

.divider .button_small {
  margin-top: 2.5em;
  float: right;
  margin-right: 1em; }

.write textarea {
  width: 68%;
  float: left;
  border: 1px solid #dadada;
  margin: 2em 0 2em 2em;
  border-radius: 3px;
  min-height: 1.4em;
  background: #fff;
  color: #555;
  padding: 1em;
  font-size: .8em;
  line-height: 1.4em;
  box-shadow: none; }

.chat_states {
  position: absolute;
  top: 8em;
  right: 15%;
  opacity: .8;
  color: #6f7d9a; }

.status_chat {
  width: .8em;
  height: .8em;
  float: left;
  border-radius: 3px;
  margin: 1em 0.5em 0.5em;
  cursor: pointer;
  opacity: 0.2; }

.display_status {
  position: relative;
  top: -1.8em;
  left: -1.2em;
  display: none;
  width: 4em; }

.current {
  display: block;
  opacity: 1;
  -ms-animation: fadeInUp ease both 0.7s 0s;
  -moz-animation: fadeInUp ease both 0.7s 0s;
  -o-animation: fadeInUp ease both 0.7s 0s;
  -webkit-animation: fadeInUp ease both 0.7s 0s;
  animation: fadeInUp ease both 0.7s 0s; }

.current .display_status {
  display: block; }

.head_sx {
  float: left;
  width: 30%; }

.head_chat {
  height: 5.5em;
  border-bottom: 1px solid #dadada; }

.head_chat input {
  margin: 1em 0 0 1em;
  box-shadow: none;
  border-radius: 3px; }

.search_people {
  background: #ececec;
  width: 100%;
  height: 4em; }

.friend_status {
  background: #636363;
  height: 1.9em;
  width: 100%;
  color: #fff;
  font-size: .8em;
  line-height: 1.9em; }

.show_online, .show_offline, .show_all {
  margin-left: 1.4em;
  margin-right: 1.4em;
  cursor: pointer; }

.head_dx {
  float: right;
  width: 70%; }
  .head_dx h3 {
    margin-top: .3529em; }
  .head_dx img {
    width: 3.7em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    float: left; }

.cronology {
  margin-top: 1em;
  text-align: center;
  font-size: .8em;
  line-height: 1.875em; }

.link_crono {
  color: #c3c3c3;
  margin-right: 1.5em;
  cursor: pointer; }

.show_people {
  display: block; }

.hide_people {
  display: none !important; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/**************************

  Animation shake and fade in + fade down
  
 *****************************/
@-webkit-keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px); } }

@-moz-keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px); } }

@-ms-keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    -ms-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -ms-transform: translateX(10px); } }

@-o-keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px); } }

@keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    transform: translateX(10px); } }

/** Css3 animation app landin page  **/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(20px); }

  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px); }

  100% {
    opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }
