// main colors
// default on:   http://www.colourlovers.com/palette/2527412/Compatible_blue

$extra-light-color:    #E6EDF4 ;
$light-color:          #9AB4CB ;
$middle-color:         #416F95 ;
$compatibe-color:      #6F7D9A ;
$dark-color:           #647082 ;

$background-color:     #f0f4f7 ;



//UI colors
$error-color:         rgb(234, 73, 74);   // red
$ok-color:            rgb(76, 177, 88);   // green

$grey:                rgb(121,121,121);   // standard text color
$light-standard:      #d4d4d4;            // standard color more light
$color-form:          rgb(85, 85, 85);    // color text into form
$border-color:        rgb(233,233,233);

$border-color-active: rgba(82, 168, 236, .8);  //color on active

@import               'shared/reset',        // reset css
                      'shared/mixins',       // functions sass
                      'shared/type',         // Typography
                      'shared/buttons',      // Buttons style
                      'shared/pagination',   // List of page numbers
                      'shared/input',        // Input field                    
                      'shared/slider',       // slider taken from jquery ui
                      'shared/tappable',     // Nested tables
                      'shared/grid';         // Fluid Grid




body {
    font-family: $font-family-stack;
    font-size: 1em;
    line-height: 1.5;
    background: $background-color;
    font-weight: 200;
    text-rendering: optimizelegibility;

}


/****************************************************

Basic styles

****************************************************/


    ::selection {
	background: $light-color;
	color:#fff
	}
	
    ::-moz-selection {
	background: $light-color;
	color:#fff
    }


.clear{
	clear: both
}

.left{
	float:left
}

.right{
	float:right
}

.align_left{
	text-align: left
}

.align_right{
	text-align: right
}

.align_center{
	text-align: center
}

:-moz-placeholder {
    color: rgba(210,210,210,.8)!important;
}

.center_content{
	text-align: center;
	margin: 0 auto;
	width:90%
}


/* Palette - only on demo */

#palette{

  @include clearfix;
	
 li{
     text-align: center;
	 margin:4em 1em;
	 float:left;
	 color: $grey; 
	 
	 span{
		      font-size:.8em;
              line-height:1.875em;
	 }
   }	
}




.preview{
    margin:0 auto;
    height:5em;
	width:5em;
	border-radius:120px
}

/* @end Palette */






/************** PAGE STYLE   ****************/

header{
		background:  url(../images/header.jpg) repeat-x left top;
        width: 100%;
        height:3em;
    
     @include clearfix();
}     


.box_main {
    width: 23em;
   	background: $light-color;
    box-shadow: 1px 1px 3px rgb(85, 85, 85);
    overflow: hidden;
    text-align:center;
    @include rounded();
}


.bg_gradient{
	
  @include gradient ($compatibe-color, $light-color, 23%, 63%);	

}


footer{
	    border-top: solid 1px $border-color;
		padding:.8em 0;
		background: white;
				
		@include clearfix();
}


//footer fixed

@media screen and (min-height: 700px) {

.foot_fixed{
   position:fixed;
   left:0;
   bottom:0;
   width:100%
 }

}



nav{
	margin-left:15%;
	margin-top:.5em;
	width:40%;
	float: left;
	color:#888;
	font-size: .75em;
	line-height:1.3333333333333em;	
  a{
	color:$compatibe-color;
	font-weight: 700;
	margin-left: 1.5em;
	display: inline-block
  }
  
}



/*****   homepage checkbox male/female   *******/

.regular-checkbox {
	display: none
}

.regular-checkbox + label,
.regular-checkbox.female + label {
	border: 1px solid rgba(white,.3);
	padding: 9px 20px;
	border-radius: 5px 0 0 5px;
	display: inline-block;
	position: relative;
	height:1em;
	width:1.5em;
	margin-left: 3em;
	margin-top: .4em;
	cursor: pointer;
	
	  @include gradient (#fff ,#e6e6e6 , 25%, 100%);	

    border-color: rgba(204, 204, 204,.2) rgba(204, 204, 204,.2) rgba(179, 179, 179,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 1px 2px rgba(0, 0, 0, .05);

	
}

.regular-checkbox.female + label {
	color: #9e7a9f;
	border-radius: 0 5px  5px 0;
	margin-left:-5px;
}	

.regular-checkbox + label:after {
	content: 'Male';
	font-size: 14px;
	line-height: 2em;
	position: absolute;
	top: 0;
	left: 14px;
	color: $dark-color;
	}
	
	
.regular-checkbox.female + label:after {
	content: 'Female';
	font-size: 14px;
	line-height: 2em;
	position: absolute;
    left: 7px;
	color: #9e7a9f
	}


.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background: #416F95;
	border: 1px solid #adb8c0;
  -webkit-box-shadow: inset 1px 0 0 rgba(white, .125), inset 0 1px 0 rgba(white, .2), 0 1px 2px rgba(black, .05);
  -moz-box-shadow: inset 1px 0 0 rgba(white, .125), inset 0 1px 0 rgba(white, .2), 0 1px 2px rgba(black, .05);
  box-shadow:  inset 2px 1px 3px rgba(82, 168, 236,.26)
}

.regular-checkbox.female:checked + label{
	background: #9e7a9f
}

.regular-checkbox:checked + label:after {
	content: 'Male';
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 14px;
	color: #fff;
	
}

.regular-checkbox.female:checked + label:after {
	content: 'Female';
	font-size: 14px;
	line-height: 2em;
	position: absolute;
    left: 7px;
	color: #fff
	}








/********  Message Feedback  + Notification box *********/

/*   Green default  */


.advice{
    background: #fff;
    border: 1px solid $border-color;
    margin-top:1em;
    margin-bottom: 1em;    
    font-size: .9em;
    line-height: 1.666666666em;
    width:100%;       
    @include rounded();
	@include clearfix();
	
	h3{
		margin-top:.382em
	}

}

.advice .icon-remove{
   position:relative;
   right:1em;
   top:1em
}

.left-adv{
    background: $light-color;
    width:7%;
    margin-right:.618em;
    display:block;
    border-radius: 5px 0 0 5px;
    float:left;
    color: #fff;
    font-size:2.618em;
    text-align:center;
    line-height:3em;
    padding-left:3%;
}

.body-adv{
   float:left;
   width:80%
}

.error .left-adv{
  background-color: $error-color;
}

.ok .left-adv{
  background-color: $ok-color;
}


.close {
    float: right;
    font-size: .9em;
    font-weight: bold;
    color: $extra-light-color;
    text-shadow: 0 1px 0 white;
    cursor:pointer;
}

// White box information + icon
.panel {
    width:100%;
    border-radius: 4px;
    display: inline-block;
    margin:0 0 1em;
    background: #fff;
    border: 1px solid $border-color;
}

.panel-content{
    padding:0 0 0 1em
    }
    
.panel-icon{
    float:right;
    font-size: 4.25em;
    color: $light-standard;
    line-height: 1em;
    margin-left:.2em;
    margin-top:-.5em
}


.panel-vertical{
  width:90%
}

// Dotted breadcrumb

.bar{
  background: #fff;
  border: 1px solid $border-color;
  height:.5em;
  margin:0 auto;
  margin-top:1em;
    @include rounded();

}

.bar li{
  color: rgb(121, 121, 121);
  text-align: center;
  font-size: 1em;
  width:2em;
  height:2em;
  border-radius: 8em;
  background: #fff;
  
  border: 1px solid $border-color;
  top: -.8em;
  position: relative;
  line-height: 2em;
  margin-right:2em;
  float:left;
}

li.step_active{
  background: rgb(107, 140, 164);
  color:#fff;
  border: none
}


// second breadcrumb

#breadcrumbs-two{
  overflow: hidden;
  width: 100%;
  opacity: .4;
  margin:1em 0
}

#breadcrumbs-two li{
  float: left;
  margin: 0 .5em 0 1em;
  
}

#breadcrumbs-two a{
  
  background: #ddd;
  padding: .7em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(white,.5); 
  position: relative;
}

#breadcrumbs-two a:hover{
  background: #d5d5d5;
}

#breadcrumbs-two a::before{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs-two a:hover::before{
  border-color: #d5d5d6 #d5d5d5 #d5d5d5 transparent;
}

#breadcrumbs-two a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

#breadcrumbs-two a:hover::after{
  border-left-color: #d5d5d5;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before{
  content: normal;
}

.statement{
    font-size:4em;
    font-weight: 400;
  
    }

.active_num{
      color: #d5d5d5;

}



/*******************************  

     Main Menu Top (white)    
     
*************************************/


.main_menu{
	width:100%;
	background:#fff;
	border-top: 1px solid $border-color;
    border-bottom:1px solid $border-color

}

.nav {
	 padding-left: 14%;

		@include clearfix();    
}

.nav li{
	float:left;
    font-weight: bold;
    font-size: .75em;
    position:relative    	
}

.nav li a{
	color: $compatibe-color;
	padding: 1.15em 1.3em;
    display: block
}

.nav li a:hover{
	color: $dark-color
}

.nav li a:active{
	color: $middle-color
}


/*************************************** 


Menu drop top -- User 


*******************************/

.avatar{

@include rounded();

	height: 1.618em;
	width: 	1.618em;	
	background: #000;
	display: inline-block;
    float:left;
    margin-right: .7em;
    margin-left: -.4em;
    margin-top: .1em;
    overflow:hidden

}

.user_name{
    line-height:1.8em;
    -webkit-font-smoothing: antialiased;
}

.user_name b:after{
    content: "";
    width: 0;
    height: 0;
    position: relative;
    left: 1em;
    top: 1em;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}


.wrapper-dropdown-user {
    position: relative; 
    min-width: 12em;    
    padding:1em 1.5em;
    color:#fff;
    font-size:.8em;
    float:right;
    cursor: pointer;
    outline: none;
}



.wrapper-dropdown-user .dropdown {
  /* Size & position */
    position: absolute;
    top: 3.6em;
    left: 0;
    right: 0;
    z-index: 99;

    /* Styles */
    list-style: none;
    border-radius: 0 0 .5em .5em;

    @include transition();

    /* Hiding */
    opacity: 0;
    pointer-events: none;
    box-shadow: 1px 1px 1px rgba(95,95,95,.5);
    
}

.wrapper-dropdown-user .dropdown li:first-child{
	background: $dark-color
}

#dd i{
	font-size: 1.8em
}


.see_views:hover .people_views{
    visibility: visible;
    opacity:1;
}

.people_views{
	position:absolute;
	width:16em;
	height:4em;
	left:15em;
	top:0;
    color: white;
    background: #607282;
    box-shadow: 1px 0px 1px rgba(95,95,95,.5);
    visibility: hidden;
    opacity:0;
     
     /* Styles */
    @include transition();       
}

.people_views img{
	width:4em;
	float:left;
	border:none
}


.wrapper-dropdown-user .dropdown .people_views a {
    border:none!important;
    padding: 0;

}

.wrapper-dropdown-user .dropdown .more{
	background: rgba(black, .3);
    border-radius: .2em;
    color:#fff;
    margin-left: .4em;
    margin-top:1.2em;
    padding: .3em;
    margin-right:0;
    font-size: 1em 
}


.view {
    background: rgba(black, .3);
    border-radius: .2em;
    padding: 0 0.5em;
    margin-left: .6em
}

.notification{
	display:inline-block;
	background: #6c879b;
	border-radius: 2em;
	width:.5em;
	height:.5em;
	position:relative;
	top:-0.6em;
	left:-1.1em;
	box-shadow: 1px 1px 0 rgba(white,.46)
}


.wrapper-dropdown-user .dropdown li a {
    border-top:solid 1px rgba(96,113,140,.45);
    font-size:1em;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1.2em;
    
    @include transition();

}


.wrapper-dropdown-user .dropdown li i {
    font-size:1.4em;
    margin-right: .618em;
    margin-left: .135em;
    line-height:1em;
    
}

/* Hover state */

.wrapper-dropdown-user .dropdown li:hover a {
    color: white;
    background: #607282;
    border-top: 1px solid rgba(white,.2);
}


.wrapper-dropdown-user .dropdown li:last-child:hover a{
    border-radius: 0 0 .5em .5em;
}


/* Active state */

.wrapper-dropdown-user.active:after {
    border-width: 0 6px 6px 6px;
    border-color:#607282 transparent
}

.wrapper-dropdown-user.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 400
}



/* Menu drop bottom/languages  */

.wrapper-dropdown-2 {
    position: relative; 
    width: 10em;    
    padding:0 1em;
    color:#888;
    font-size:.75em;
    line-height: 2em;
    float:right;
    margin-right: 15%;
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: -10em;
    left: -5px;
    right: 0;

    /* Styles */
    background: white;
    list-style: none;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: rgba(white,1);
    line-height: 1em;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -2px 3px rgba(0,0,0,.21);
    
        @include transition();
   
    /* Hiding */
    opacity: 0;
    pointer-events: none;
    
}

.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: $grey;
    padding: 1em;
    padding-left:3.7em;

    @include transition();
    
}



.wrapper-dropdown-2 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-2  li:hover a {
    color: white;
    background: $middle-color;
}

/* Active state */

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown,
.no-opacity       .wrapper-dropdown-user .dropdown,
.no-pointerevents .wrapper-dropdown-user .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown,
.no-opacity       .wrapper-dropdown-user.active .dropdown,
.no-pointerevents .wrapper-dropdown-user.active .dropdown {
    display: block
}





/******************** 


Homepage  


****************/  

header img{
	    padding: .5em 0 0	   
}

.login_home {
	float: right;
	font-size: .8em;
	margin-right: 4em;
	line-height:3.5em;
	width:5em
}

.login_home a{
	color: #fff
}

.login_home a:hover{
	color:#f2f2f2
}

.login_home i{
	margin-right:1em;
	float:left
}

.main{
	margin-left:15%;
	margin-top: 0
}

.title{
	margin-left: 14%;
	margin-top:3em;
	background: #fff;
	border: solid 1px $compatibe-color;
	padding: .346em;
	padding-left: 5%;
	padding-right: 15%;
	width:42%;
	
}



.homepage{
	position: absolute;
    z-index: 2;
    left:63%;
    top:5em
}


.label{
	color:#fff;
	font-size: .8em;
	line-height:2em;
    margin:1em 0
}



.label select{
	margin-top: 1em;
	margin-right: 1em
}


.category {
    width: 32%;
    float: left;
    text-align: right;
    margin-top: .5em;
}


.facebook{
	background: $compatibe-color;
	text-align:center;
	padding:.6em 0
}


.term{
	padding-top: .8em;
	text-align: right;
	margin-right: 10%
}

.register{
	text-align:center;
	margin-top: 1.5em
}

.search{
	width:50%;
	margin-left: 15%;
	text-align: center;
	margin-bottom:4em;
}




.search p{
	font-size: .75em;
	text-align:center;
}


.info_home{
	background: white;
	text-align:center;
	padding-bottom: 3em;
	border: 1px solid $border-color;

		@include clearfix();

}

.home {
    margin:0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 70%;
}


.box_container{
	background:  url('../images/bg_middle_home.png') repeat-x;
    height:34em;
}

.box{
	width: 25%;
	margin: 6em 2% 0;
	float:left;
	height:26em;
	overflow:hidden
}

.first{
	margin-left:9%
}


.box img{
	margin-top:1em;
	max-width:100%
}

		
.box p{
	text-align:center
}	

.box h3{
	padding:1em 0;
	line-height:.923em;
}

/************   end homepage ***************/




/****************************************************

Login page

****************************************************/ 
 

.main_login{
	text-align: center;
	margin-top:4em
}

.space{
	margin-top:2em;
   @include rounded();
}

.remember{
	margin-left:4.3em;
	text-align:left;
	float:left
}

.forgot{
    float:right;
    color: #fff;
    margin-right: 4.2em;
    font-size: .9em;
    margin-top: .2em;
    cursor:pointer
}

.forgot_back{
    float:right;
    color: #fff;
    margin-right: 4.2em;
    font-size: .75em;
    margin-top: .2em;
    cursor:pointer
}

.forgot_back:hover,.forgot:hover{
	color: #E6EDF4
}

// notification 
.notif {
    width: 268px;
    padding: 6px;
    color: rgba(white, .9);
    font:200 1em/2.2em helvetica;
    border-width: 1px;
    background: rgba(17, 17, 17, .48);

    border-style: solid;
    border-image: none;
    border-color: rgba(17, 17, 17, .2) rgba(17, 17, 17, .3) rgba(17, 17, 17, .4);
    
    position: absolute;
    margin-left: 34em;
    margin-top:-4.2em;
       
    box-shadow: inset 0 0 1px rgba(black, .5), 0 1px 2px rgba(black, .3);
    	
		@include animate(fadeIn, ease, both, 1s, 1s);
        @include rounded()
}



/* animation class for the login page */



//.shaking {
//	
//		@include animate(shake, ease, both, 1s, 0s);
//}


.fadeInDown {
	
	@include animate(fadeInDown, ease, both, 2s, .3s);
	
}


.fadeInUp {

	@include animate(fadeInUp, ease, both, 2s, .3s);

}







/****************************************************


User Logged main page 


****************************************************/
.logo{
	float:left;
	margin-left: 15%
}

.container_head_right{

display: block;
height:3em;
float:right;
margin-right:15%

}

.menu_logged{
	float:left;
	
}

.menu_logged img{
	padding: 0
}

.head_box{
	color:#fff;
    font-size:.8em;
    line-height: 3.7em;
    float:left;
    margin-left:2em
}

.head_box a{
	color:#f0f0f0;
	
}

.head_box:hover{
	color:#fff
}


.perc{
	background: rgba(black,.3);
	border-radius:.2em;
	padding:0 .5em	
}


.new_m.no_new{
	    background: $dark-color
}

.new_m.no_new:before {

		background: $dark-color

	}


.new_m{
    background: $green-light;
    padding: .2em .6em;
    border-radius: .5em;
    margin-left: .5em
}

.new_m:before {
		content: "";
		display: block;
		background: $green-light;
		position: relative;
		float:right;
		top:1.65em;
		right: 1.95em;
		margin-left:0;
		width: .5em;
		height: .5em;	
		
		@include rotate();
	}
	




/*******  

 
 Grid People logged   
 
 

 **********/




.main_logged{
	width: 100%;

		@include clearfix();
}

.arrow_left.disabled_arrow,
.arrow_left.disabled_arrow:hover{
	opacity:.15;
	cursor: none!important
}

.arrow_left,
.arrow_right{
	float:left;
	width: 10%;
	background: rgba(black,.1);
	text-align:center;
	opacity:.8;
	z-index:999999999999;
	position: relative
}

.arrow_left img,
.arrow_right img{
	padding: 4em 1.4em
}

.arrow_right{
	float:right
}

.arrow_left:hover,
.arrow_right:hover{
	opacity: 1;
	cursor: pointer
}


.center{
    margin:0 auto;
	margin-top:2em;
	margin-bottom:2em;
	width:100%;
	padding:0;
}

.close_profile {
    cursor: pointer
}

.col1 a,.col2 a{
	opacity:0
}


/****************************************************


User Assets


****************************************************/



.active_nav .arrow,
.active_nav .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}


 .active_nav .arrow{
  top: 3.8em;
  margin-left:-11px;
  border-top-color: #fff;
  border-width: 10px 10px 0;
  left:50%
}

.active_nav .arrow:after {
  bottom: -1px;
  left: -11px;
  border-top-color: $border-color;
  border-width: 11px 11px 0;
  z-index: -1;
  content: "";
}





.content_user{
	width:70%;
	background: #fff;
	height:100%;
	margin: 0 auto;
	border:1px solid $border-color;
	margin-bottom: 4em;

        
          @include breakpoint(first_break) { 
            width:62em
    	  }


   &:after{
    content:'';
    display: block;
    clear:both;
    padding-bottom: 2em
    }

}



.new_message{
	width:68%;
	margin:0 auto;
	background: #fff;
	clear:both;
	padding: 0 1%
	
}

.new_message a{
	margin:1em!important
}

.right_i{
    margin-left:.6em;
    float:right	
}

.right_btn{
	float:right
}

.bottom_menu{
	margin-bottom:4em
}

.message{
	width:94%;
	margin:0 auto;
	padding:1.5em  0 1.618em;
	border-bottom: 1px solid $border-color;

    @include transition();
    @include clearfix();
    
    &:hover{
       cursor: pointer
    }
}



.square{
	float:left;
	font-size: 1.5em;
	color:#ebebeb;
	padding: 1em .6em;
	width:.2em	
}
.new_msg i{
	   color:$compatibe-color

}

.avatar_mes{
	height:3.3em;
	width:3.3em;
	float:left;
	margin-top:1em;
	overflow:hidden
}

.avatar_mes img{
	width:100%
	}

.detail{
	width:70%;
	float: left;	
    margin-left: .927em;
    
    h3{
	    margin-top:0
    }

	p{
		font-size:.8em;
	}

}

 
 .date{
	 float:right;
	 font-size: .8em;
	 color:$dark-color;
	 width:8%;
	 margin-top:1em;
	 text-align: right;
	 margin-right:1em
 }
 
 
.check{
	float:left;
    margin: 3.2em .8em 4em 1.6em
} 
 
 .second_menu{
	 width:70%;
	 margin:0 auto;
	 color:#fff;
	 font-size:.7em;
	 line-height:2.1428em;
	 padding: .7em 0;
	 background: $compatibe-color
}

.second_menu a{
 color:#fff
}

.second_menu a:hover{
  text-decoration: underline
}


.select_message{
	margin-left:3em
}
 
 
 
 
 
 
  /********************  
 
 
User_settings_page
  
  
 **********************/
 
 .block_wrap{
	 width:100%;
	 display:inline-block;
	 padding:2em 0; 
		
		@include clearfix();
 }
 
 
 .block_wrap:nth-child(2n+0){
	 background: #fff;
	 padding:3em 1em;
	 margin-left:-1em;
	 
 }


 
 .current_data {
    margin-bottom: 1em;
    padding: .5em  .8em;
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
    color:#424242;
    font-size: .8em;
    border: 1px solid lightgray;
    display:inline-block
}


 
 /********************  
 
 
  single_user_profile logged_page
  
  
 **********************/
.close_profile{
    margin-bottom: -1.6em
}

.profile{
	width:100%;
	margin: 0 auto;
	background: #fff;
	margin-top:0;
	padding-bottom:2.427em;	
			
			@include clearfix();
    h3{
      margin-top:.461em
      }

   img{
     float:left;
      margin-right:1em
     }
}
.icon_box{
		float:left;
        background:$light-color;
        color:$dark-color;
        width:2.9em
}

.icon_box i{
	padding:1.25em 1.1em;
	color:#fff;
	border-bottom: solid 1px #fff;

    @include transition();
}

.icon_box i:hover{
	background: #fff;
	color: $light-color
}


.prof_sx{
	float:left;
    width: 350px		
}


.single_tag{
    font-size: .7em;
	color:#fff;
	background: $middle-color;
	padding: .2em .5em;
	border-radius: 5px
}

.compability{
	float:left
}


.circle{
	background: $compatibe-color;
	width:8em;
	height: 8em;
	border-radius: 20em;
	margin-left: 1em
}

.about_user{
	float:none;
	clear:both;
	border-bottom:solid 1px #f1f1f1;
	border-top:solid 1px #f1f1f1;

    padding:.927em 3em;
    background: #f9f9f9
}


.info_user{
    color: $grey;

}


.test_user{
    margin-top:-2em;
	padding-bottom:2em
}



/**************** 

        table

	*****************/
	
	table { 
		width: 100%;
		margin: 2em 0;
		border-collapse: collapse; 
		font-size: .8em;
		line-height:1.875em;
		background: #fff;
		color:$grey;
				
		img{
           height: 4em;
           width: 4em;
		}
	}
	
	tr{
	  border-bottom: 1px solid $border-color
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #f8f8f8; 
	}
	th { 
		background: white; 
		color: $dark-color; 
		font-weight: bold;
	}
	td, th { 
		padding: .8em 1em ; 
		text-align: left; 
		vertical-align: middle
	}




/****************************************************

  Secondary pages 
  
****************************************************/
  
.bg_top{
	background: url('../images/bg_top.jpg') repeat-x;
	padding:1.6em 0;
}


.title_page{
    margin-top: .45em;
    margin-left: 15%;
    color: #fff;
    width: 70%
}

.info_sx{
	float:left;
	width:23%;
	text-align: left;
	margin-left: 15%
}


.info_dx h3{	
	color:#fff
}




.header_dx{
   	background: $compatibe-color;
   	padding:2em

}

.info_dx{
	float:left;
	width: 52%;
	padding-bottom:3.5em;
    overflow:hidden;
    border: 1px solid $border-color;
    margin-top:2em;
    background:  rgb(250, 250, 251);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    max-width:45em;
    @include rounded()
}

.info_dx p{
	padding:0 3.5em 0
}

.illustration{
	max-width: 100%;
	margin: 0 0 2em
}

.menu_column{
    font-size: .8em;
    line-height:1.875em;
	text-align: left;
    width: 16.633em;
    background:  $background-color;
    padding: .927em 0 1.1em .927em;

}

.menu_column li{

        border-top: 1px solid $border-color;
        text-shadow: 0 1px 0 white;

}

.menu_column li:last-child{

        border-bottom: 1px solid $border-color
}


.menu_column a{
	display:block;
	padding:.85em 0 .85em .618em;

}

.menu_column a:hover{
    background:  rgba(black,.03)
}

.menu_column li.active_menu a{
	background: #fff;
	color:$compatibe-color;
	cursor: default;
	text-shadow: none;
	
}

.active_menu a{
	color:#fff
}



.thanks:after{
	display:block;
	clear:both;
	content: '';
	padding-bottom: 2.7em
}

.main_message{
    color: $grey;
	padding: 0 3.927em 1.618em;
	font-size:1em;
	text-align: left;
		@include clearfix();

}


.main_message img{
	margin-top:4em;
	float:none
}

.position_right{
	position: absolute;
	right:2%
}

/****************************************************
  

Custom pages  


****************************************************/

.content_padding{
    margin:0 auto;
    width:90%;
}




.content_central {
    display: block;   
    color: rgb(153, 153, 153);
    background: $background-color;
    border: 1px solid $border-color;
    margin: 3em 0 2em;
    padding: 2em 1em 

}

.content_central input[type="radio"], .content_central input[type="checkbox"] {
    
    margin-right: 4em;
    margin-bottom: 2em;
    display: block;
    float: left;
    margin-top: .5em;
}


.form-container{
    margin:1.5em 0 3em
}

label{

    color: rgb(121, 121, 121);
    line-height: 1.5em;
    font-size: 1em;
    margin-top: .2em;
    margin-bottom: .5em;    
    display:block

    }


.the_title{
    margin-bottom:2em;
    border-bottom: 1px solid rgb(238, 238, 238);
}





//check-box and radio with javascript


.checkbox,
.radio {
  margin-bottom: 1.5em;
  padding:0;
  padding-left: 2em;
  position: relative;
  @include transition();
  
  -webkit-backface-visibility: hidden; 
  }
  
  .checkbox:hover,
  .radio:hover {
    cursor: pointer;
    background: rgba(white,.8);
    border-radius:.5em;
     }
    
  .checkbox input,
  .radio input {
    outline: none !important;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1; }
    
  .checkbox.checked .icon,
  .radio.checked .icon {
    background-position: -60px -30px;
    opacity: 1;
    display: block\9; }
    
  .checkbox.checked .icon-to-fade,
  .radio.checked .icon-to-fade {
    opacity: 0;
    display: none\9; }
    
  .checkbox.disabled,
  .radio.disabled {
    color: #d7dddd;
    cursor: default; }
    .checkbox.disabled .icon,
    .radio.disabled .icon {
      opacity: 0;
      display: none\9; }
    .checkbox.disabled .icon-to-fade,
    .radio.disabled .icon-to-fade {
      background-position: -30px -60px;
      opacity: 1;
      display: block\9; }
    .checkbox.disabled.checked .icon,
    .radio.disabled.checked .icon {
      background-position: 0 -90px;
      opacity: 1;
      display: block\9; }
    .checkbox.disabled.checked .icon-to-fade,
    .radio.disabled.checked .icon-to-fade {
      opacity: 0;
      display: none\9; }
      
  .checkbox .icon,
  .checkbox .icon-to-fade,
  .radio .icon,
  .radio .icon-to-fade {
    background: url("../images/checkbox.png") -90px 0 no-repeat;
    display: block;
    height: 20px;
    left: 0;
    opacity: 1;
    position: absolute;
    top:0;
    width: 20px;
    margin:.1em .3em;
    
    -webkit-backface-visibility: hidden; 
    
        @include transition (opacity, .1s, linear);

    }
    
  .checkbox .icon,
  .radio .icon {
    opacity: 0;
    top: 0;
    z-index: 2;
    display: none\9; }

.radio .icon,
.radio .icon-to-fade {
  background-image: url("../images/radio.png"); }

.radio input{
     height:5em
     }

/****************************************************


 Send Message form  Page
 
 
****************************************************/

.menu_title_page{
	width: 70%;
	margin: 0 auto;
        
          @include breakpoint(first_break) { 
            width:62em
    	  }

    h2{
       margin-top:.57em;
    }

    a{
	    color: $compatibe-color
    }
}

.send_message{
	margin-top:2em
}

.send_message input,.send_message textarea{
	width:90%
}


.recieve_message{
	box-shadow: 0 4px 5px -5px rgba(black, .3) inset;
    background:  #fff;
    width:90%;
    height:2em;
    padding: .3em .5em;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    vertical-align: middle;
	@include rounded();
    

}

.tag_people{
	background: $light-color;
	display: inline-block;
	padding: .2em .4em;
	@include rounded();
}

.cancel{
	cursor: pointer;
	background: $compatibe-color;
	text-align: center;
    width:1.6em;
    height:1.7em;
    margin-top:.15em;
	display: inline-block;
	margin-left:.618em;
	position:relative;
	float:right;
	font-size:.8em;
    opacity:.8;
    	@include rounded();

}

.cancel:hover{
	opacity: 1
}


.menu_add{

	background: white;
	border:1px solid $border-color;
	padding: .618em .927em;
	position:relative;
	margin-left: 10px

}
.menu_add li{
	padding:.06em 0;
	font-size: .8em;
	line-height: 1.875em;
}

.menu_add .arrow,
.menu_add .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
    border-width: 10px;
  content: "";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff
}



.menu_add .arrow {
  top: 16%;
  left: -11px;
  margin-top: -11px;
  border-width: 11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: $border-color
}




/****************************************************




 Flip Effect in Login Page
 
 

 ****************************************************/



.login {	
	-webkit-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	margin: 0 auto;
	width:23em;
	margin-top:2em
	
}

.card {
	width: 23em; 
	height: 412px;
	-ms-transform-style: preserve-3d;
	-ms-transition: .5s;
	-o-transform-style: preserve-3d;
	-o-transition: .5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: .5s;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: .5s;
	transform-style: preserve-3d;
	transition: .5s;

		@include clearfix();
	
}
	

	.flippa {
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);	
		-webkit-transform: rotateY(180deg);	
		transform: rotateY(180deg);				
			
	}



.face2 {
	position: absolute;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


.front input[type="text"],.front input[type="email"]{

    width:18em;
    margin:0;
    border-radius: 5px 5px 0 0;
    border:0;
    height:2.5em

}

input[type="email"].bottom_input {

    border-radius: 0 0 5px 5px;
    border-top:1px solid #dedede;
    box-shadow: none 
}


.back input{
    width:17em
}



 .front,.back {

    width:23em;
	padding-top:2em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(85, 85, 85);
    /*overflow: hidden;*/
    text-align:center		
	}
	
.login .back {
		 height: 372px;
		-ms-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
		

 .back p{
		color:#fff;
		padding:1em 2em;
		background: $dark-color;
		margin-bottom:3em;
	}


.front {
	z-index: 10;
}

.index {
	z-index: 0
} 






// hint.scss
// 
// Aggregates all other sass files.

/*-------------------------------------*\
	HINT.css - A CSS tooltip library
\*-------------------------------------*/


/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/labs/hintcss
 *
 * Release under The MIT License s
 *
 */

@import "src/hint-variables";
@import "src/hint-mixins";
@import "src/hint-core";
@import "src/hint-position";
@import "src/hint-color-types";
@import "src/hint-always";
@import "src/hint-rounded";





@import    'shared/chat',
           'shared/keyframes';