/****************************************************

UX Buttons

****************************************************/

/*  Default blue color */


$main-middle: #416f95;
$main-light: #5a8ece;
$main-dark: #395e7d;

button, button:link, button:visited {

  @include gradient ($main-middle ,$main-light , 0%, 100%);	
  @include rounded();
   
    color: white;
    display: inline-block;
    font-size: .8em;
    line-height: 1.875em;
    height:  	2.927em;
    padding: 0 1.5em;
    margin: 1em 1em 1em 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    white-space: nowrap;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .4) inset, 0px 1px 1px rgba(0, 0, 0, .25);
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    border-width:1px;
    border-style: solid;
    cursor:pointer
}
   button:hover{
    background: $main-middle;
    
   }

   button:active{
    background: $main-dark;
    -webkit-box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
    box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
    }


/*  Green color */

$green-middle: #98B749;
$green-light: #B2D754;
$green-dark: #809e33;


.green, .green:link, .green:visited {

   @include gradient ($green-middle, $green-light, 0%, 100%);	
       
    border-color: rgba(black, .1) rgba(black, .1) rgba(black, .35);
    text-shadow: 0 -1px 0 rgba(black, .15);  
    box-shadow: 0 1px 0 rgba(white, .6) inset, 0 1px 2px rgba(black, .05);

}

.green:hover{
	background:$green-middle
}

.green:active{
  background: $green-dark;
  -webkit-box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
  -moz-box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
  box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
}


/*  Grey color */

$grey-middle: #e6e6e6;
$grey-light: #f3f3f3;
$grey-dark: #ccc;

.grey {
   @include gradient ($grey-middle, $grey-light, 0%, 100%);	
    
    color: $grey;
    text-shadow: 0 1px 1px rgba(white, .75);    
    border-color: rgba(black, .15) rgba(black, .15) rgba(black, .25);
    box-shadow: 0 1px 0 rgba(white, .6) inset, 0 1px 2px rgba(black, .05);
}

.grey:hover {
  background: $grey-middle;

}

.grey:active {
  background-color: $grey-dark;

  -webkit-box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
  -moz-box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
  box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);

  }

/*  Grey flat button */


.light_grey{
	color: $grey;
    background: white;
    border:solid 1px $border-color;
    border-color: rgba(black, .15) rgba(black, .15) rgba(black, .25);
    box-shadow: none;
    text-shadow: none;

}


.light_grey:hover{
        background-color: rgb(245, 245, 245);
}


.disabled, .button-disabled:active, .button-disabled:focus, .button-disabled:hover, .button-disabled:visited {
    background: linear-gradient(rgb(212, 212, 212), rgb(188, 188, 188)) repeat scroll 0% 0% transparent;
    box-shadow: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    border-color: rgb(185, 185, 185);
    cursor: default;
    color: white;
    opacity:.5
}



.middle {
    font-size: 1em;
    height: 3em;
    padding: 0 1.5em;
    margin: 1em 0;
    letter-spacing: .01em;
    font-weight: bold;
    width: 11.089em;
}


.big {
   @extend .middle;
    width: 16.633em;
}



/* Default blu color  */

.small {
  
    box-shadow: 0 1px 0 rgba(white, .4) inset, 0 1px 1px rgba(black, .25);
    border-width:1px;
    border-style: solid;
    border-color: rgba(black, .1) rgba(black, .1) rgba(black, .35);

    text-shadow: 0 -1px 0 rgba(black, .15);
    color: white;
    border-radius: .5em;
    display: inline-block;
    font-size: 1em;
    height: 2.7em;
    white-space: nowrap;
    cursor:pointer;
    padding:0 .5em
}


.button_small:hover{
	background: $main-middle
}

.button_small:active{
	background: $main-dark
}


/*** facebook button ****/

$facebook-middle:#256195;
$facebook-light:#2982a5;
$facebook-dark:#256195;


.face, .face:link, .face:visited {

   @include gradient ($facebook-middle, $facebook-light, 0%, 100%);	
   font-weight: 400;

}

.face:hover{
	background: $facebook-middle
}

.face:active{
	background: $facebook-dark;
    -webkit-box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);
    box-shadow: inset 0 2px 4px rgba(black, .15), 0 1px 2px rgba(black, .05);	
}


.face i {
    margin-right: .618em;
    border-right: 1px solid rgba(white, .3);
    padding-right: .927em;
    margin-left:-.618em
}
