/**************************

chat page
  
 *****************************/ 

.chat_content{
	width:70%;
	background: #fff;
	height:40em;
	overflow:hidden;
	margin:0 auto
}



.col_sx_chat{
	width:30%;
	float:left;
	height:100%;
	background: #f8f8f8;
	height:40em;
	overflow:auto
}




.userList li {
    font-size:.8em;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(206, 206, 206);
    display:block;
    height:5.5em
    
}


.userList li a {
    color: rgb(106, 106, 106);
    padding: 10px 14px;
    display: block;
    position: relative;
    padding-bottom: 2em;
    height:2.84em;

    @include transition();
}

.userList li a:hover{
		background: #E6EDF4;

}

.contactName {
    margin-top: 1em;
    display: block;
    width: 70%;
    margin-left: 4em;
}



.updates{
	background:#9AB4CB;
	color:#fff;
	border-radius:5px;
	padding: .1em .5em;
	margin-left:.5em;
	font-size:.8em
}



.userList li img{
    margin: 0 10px 0 0;
    box-shadow: 0 1px 1px rgb(245, 245, 245);
    height: 3.3em;
    width: 3.3em;
    float: left;
    margin-top: .5em;
    @include rounded();
    overflow:hidden
}


.status {
    float: right;
    border-radius: 2em;
    width: .8em;
    height: 0.8em;
    position: relative;
    top: -3em;
    right: 1em;
    box-shadow: 1px 1px 0px rgb(255, 255, 255);
}


.no_disturb{
	background: rgba(255,105,105,1);

}

.away{
	background: rgba(246,180,48,1);
}

.on_line{
	background: rgba(70,225,127,1);

}

.active_user{
	background: #fff
}



.col_dx_chat{
	float:right;
	height:100%;
	background: #fff;
	width:70%;
	height:40em;
	overflow:auto;
}

.center_col{
width:30em;
margin:0 auto

}

.cVa {
    background-color: transparent;
    height: 8px;
    left: 30%;
    margin: -1px 0px -9px;
    opacity: 0;
    position: relative;
    z-index: 11;
    width:70%;

    @include transition();


background-image: -o-linear-gradient(center top , rgba(0, 0, 0, .2), transparent);
background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, .2), transparent);
background-image: -webkit-linear-gradient(center top , rgba(0, 0, 0, .2), transparent);
background-image: -ms-linear-gradient(center top , rgba(0, 0, 0, .2), transparent);
background-image: linear-gradient(center top , rgba(0, 0, 0, .2), transparent);

}


.chatList{
	width:30em;
	margin:0 auto
}


 .chatList li  {
 
			@include animate(fadeInLeft, ease, both, 2s, .5s);
		
			@include clearfix();
}

.chatList li.me{
			@include animate(fadeInRight, ease, both, 2s, .5s);

}

.chatList li img {
    border:1px solid #f9f9f9;
    height: 3em;
    width: 3em;
    float: left;
    margin: 1.5em 1.5em 1em;

}

.msg_chat{
	width:68%;
	float:left;
	border:1px solid #dadada;
	margin-top:.5em;
	border-radius:3px;
	min-height:1.4em;
	background: #fafafa;
	color: #555555;
	padding:1em;
	font-size:.8em;
	line-height:1.4em

}

.the_user{
	float:left;
	font-size: .9em;
}

.time_msg{
	float:right;
	font-size: .9em;
}

.text_msg{
	clear:both;
	display:block;
	content: '';
	margin-top:2.5em
}

.arrow,
.arrow:after {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  left: 1px;
  bottom: 10px;
  border-left-width: 0;
  border-right-color: #fafafa
}



 .arrow {
  top: 38px;
  left: 5.7em;
  margin-top: 0px;
  border-width: 8px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: #dadada
}



.chatList li.me img{
	float:right
}

.me .msg_chat {
	background: #e8ffeb;
	margin-left:1.9em
}

.arrow_dx,
.arrow_dx:after {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  left: -11px;
  bottom: 10px;
  border-right-width: 0;
  border-left-color: #e8ffeb
}

 .arrow_dx {
  top: 38px;
  left: 78.8%;
  margin-top: 0px;
  border-width: 8px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: #dadada
}

.divider{
	background: #eee;
	height:16em;
	clear: both;
	margin-top:8em;
	border-top:1px solid #c9c9c9
}

.content_divider{
	width:30em;
	margin:0 auto
}


.divider .button_small{
	margin-top:2.5em;
	float:right;
	margin-right:1em
}

 .write textarea{
	width:68%;
	float:left;
	border:1px solid #dadada;
	margin:2em 0 2em 2em ;
	border-radius:3px;
	min-height:1.4em;
	background: #fff;
	color: #555;
	padding:1em;
	font-size:.8em;
	line-height:1.4em;
	box-shadow: none

}


.chat_states{
	position:absolute;
	top:8em;
	right:15%;
	opacity:.8;
	color: $compatibe-color
}

.status_chat{
	width:.8em;
	height:.8em;
	float:left;
	border-radius:3px;
	margin:1em .5em .5em;
	cursor: pointer;
	opacity:.2
}

.display_status {
    position: relative;
    top: -1.8em;
    left: -1.2em;
    display: none;
    width:4em;
    
}

.current{
	display: block;
	opacity:1;

		@include animate(fadeInUp, ease, both, .7s, 0s);

}



.current .display_status{
		display: block
}

.head_sx{
	float:left;
	width:30%
}

.head_chat{
	height:5.5em;
	border-bottom: 1px solid #dadada;
}

.head_chat input{
	margin:1em 0 0 1em;
	box-shadow: none;
	border-radius: 3px
}


.search_people{
	background: #ececec;
	width:100%;
	height:4em
}

.friend_status{
	background: #636363;
	height:1.9em;
	width: 100%	;
	color:#fff;
	font-size: .8em;
	line-height:1.9em
	
}


.show_online,.show_offline,.show_all{
	margin-left: 1.4em;
	margin-right:1.4em;
	cursor:pointer
}


.head_dx{
	float:right;
	width:70%;
 
 h3{
	 margin-top:.3529em;
 }
 
 img{
	width:3.7em;
	margin-top:1em;
	margin-left:1em;
	margin-right:1em;
	float:left
   }
}



.cronology{
    margin-top:1em;
	text-align: center;
	font-size: .8em;
	line-height: 1.875em

}

.link_crono{
	color:#c3c3c3;
	margin-right: 1.5em;
	cursor: pointer
}

.show_people{
	display: block
}

.hide_people{
	display: none!important
}
