/***********************


  GRID CONTENT


************************/

.row{
  width:100%; 
  margin:0;
  color: rgb(121,121,121);

  @include clearfix();
 
}



.row [class*="column_"] {
    display: block;
    float: left;
    margin-right:4%
}

.row [class*="column_"]:last-child {
     margin-right:0
}

.column_one{width: 9%}
.column_two { width: 22% }
.column_three { width: 30.65%; }
.column_four { width: 48% }
.column_five { width: 65% }
.column_six{width: 74%}
.colunm_seven{width:87%}

.offset_1{
	margin-left:13%
}

.offset_2{
	margin-left:26%
}

.offset_3{
	margin-left:39%
}


.offset_4{
	margin-left:52%
}

.offset_5{
	margin-left:74%
}


.example_row .row{
    margin:1.5em 0  // only for the example into the test page
}
