
/****************************************************

Input form

****************************************************/


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    
    @include rounded();
    background-color: #fff;
    border: 1px solid $border-color;
    transition: border .2s linear 0s, box-shadow .2s linear 0s;
    font-family: $font-family-stack;
    display: inline-block;
    padding: .6em .5em;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    width:13em;
    color: $color-form;
    box-shadow: 0 4px 5px -5px rgba(black, .3) inset

}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
    border-color: $border-color-active;
    outline: 0 none;
    box-shadow: 0 1px 1px rgba(black, .075) inset, 0 0 8px $border-color-active;
}

input[type="search"] {
   -moz-appearance:none;
   -webkit-appearance:none;
}

.search input[type="search"]  {
    background: white url(../images/search.png) no-repeat 2% center;
    width:26em;
    padding: .85em 2.5em;  
    margin-top: .4em;
    margin-right:.5em
}


.red_shadow{
	border:solid 1px $error-color!important;
	box-shadow: 0 1px 6px $error-color!important;
	outline: 0 none;
}
