/***************************************************


  Iphone and Android App Landing Page  
  

****************************************************/

.gradient{

    @include gradient(#7b8ca8, #bdc8da,0 ,100%);

    height:100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed
    }
    


.phone_sx:after{
	content:'';
	clear:both;
	display: block;
}

.people_app{
	width:100%;
	margin:0;
	padding: 0
}

.content_phone{
	width:900px;
	margin:0 auto;
}

.phone_sx {
	margin-top:-4em;
	position:relative;
	z-index:99;
	width:45%;
	float:left;
    -o-animation:fadeInLeft  ease both 2s 2s;
    -ms-animation:fadeInLeft  ease both 2s 2s; 
    -webkit-animation: fadeInLeft  ease both 2s 2s;
	-moz-animation: fadeInLeft  ease both 2s 2s;
	animation: fadeInLeft ease both 2s 2s;
	backface-visibility: hidden;
}


.phone_dx{
	width:55%;
	float:right;
	-webkit-animation: fadeInRight ease both 2s 2s;
	-moz-animation: fadeInRight ease both 2s 2s;
	-ms-animation: fadeInRight ease both 2s 2s;
	-o-animation: fadeInRight ease both 2s 2s;
	animation: fadeInRight ease both 2s 2s;
	backface-visibility: hidden;	
}

.icon_ios{
	margin-top: 5em;
	float:left
}

.logo_app{
	float: left;
	margin-top:4.5em;
	margin-left: 2em
}

.phone_dx h1{
	font-size: 1.5em;
	color:$compatibe-color	
}

.phone_dx p{
	color:#fff;
	font-size: 1em
}


.app_btn{
	opacity:.9;
	margin:2em 0;	
}


.app_btn:hover{
	opacity:1
}

.android{
	margin-top:1em
}


