// Rounded corners

@mixin rounded($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius; 
}

// Simple transition 


@mixin transition($what: all, $time: .3s,  $behaviour: ease-out  ){
    -webkit-transition:  $what  $time $behaviour;
    -moz-transition:  $what  $time $behaviour;
    -ms-transition:  $what  $time $behaviour ;
    -o-transition:  $what  $time $behaviour;
    transition:  $what  $time  $behaviour;
}


// Gradient color
 
 @mixin gradient($from, $to, $start-height, $end-height){
 
	background-color: $to;
    background-image: -o-linear-gradient(bottom, $from $start-height, $to $end-height);
    background-image: -moz-linear-gradient(bottom, $from $start-height, $to $end-height);
    background-image: -webkit-linear-gradient(bottom, $from $start-height, $to $end-height);
  //  background-image: -ms-linear-gradient(bottom, $from $start-height, $to $end-height);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop($start-height, $from),color-stop($end-height, $to)); 
    background-image: linear-gradient(bottom, $from $start-height, $to $end-height);	
} 
 
 
 
// Animate Mixin Plugin

@mixin animate($name: fadeIn, $function: ease, $mode: both, $duration: 1s, $delay: .2s  ){

    -ms-animation:  $name $function $mode $duration $delay ;	
    -moz-animation:  $name $function $mode $duration $delay ;
    -o-animation:  $name $function $mode $duration $delay ;
	-webkit-animation:  $name $function $mode $duration $delay ;
	animation: $name $function $mode $duration $delay ;
}

// Rotate css3

@mixin rotate($grade: 45deg){
	
		-moz-transform: rotate($grade);
		-ms-transform: rotate($grade);
		-o-transform: rotate($grade);
		-webkit-transform: rotate($grade);		
		transform: rotate($grade);
	
}


// Clearfix 

@mixin clearfix {
    zoom:1;
    &:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }
}



/* Media Queries Breakpoints */
 
 
 
@mixin breakpoint($point) {
  @if $point == third_break {
    @media (min-width: 2000px) { @content; }
  }
  @else if $point == second_break {
    @media (min-width: 1600px) { @content; }
  }
  @else if $point == first_break {
    @media (min-width: 1400px)  { @content; }
  }
} 


