/********   list pagination *******/


.pagination ul {
    display: inline-block;
    margin: 2em 0;    
    box-shadow: 0 1px 2px rgba(black, .05);

    @include rounded();
 
   li {
       display: inline;
     
         a{
	      color:$compatibe-color
          }
     
     }
          
}     
     



.pagination ul > li > a {
    float: left;
    padding: 4px 12px;
    text-decoration: none;
    background-color: white;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: $border-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.pagination ul > li:first-child > a {
    border-left-width: 1px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination ul > li:last-child > a {
    border-right-width: 1px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination ul > .active > a,
.pagination ul > .active > a:hover {
    color: white;
    cursor: default;
    background-color: $middle-color;
    border-color: $middle-color
}


.pagination ul > li > a:hover, .pagination ul > li > a:focus{
    background-color: rgb(245, 245, 245);
    color: $grey
    }
