
/* Misc visuals
----------------------------------*/



/* Component containers
----------------------------------*/

.ui-widget-content { 

    border: 1px solid $border-color; 
    background: $extra-light-color;
    height:1em;
 	box-shadow: inset 0 1px 1px rgba(0,0,0,.2)

}



.ui-slider{
   @include rounded();
   position: relative;
       margin-top: 1.1429em;
    margin-bottom: .5714em;
  
}



/* Overlays */


 .ui-slider-handle { 
    position: absolute; 
    z-index: 2; 
    cursor: default;
 	height: 1.618em;
	width: 	1.618em;
	margin: 0px auto;
	background: $light-color;
	border: solid 1px $compatibe-color;
	
	display:block;

	margin-top:-.35em;
	margin-left:-.5em;
   @include rounded();
	
	 &:hover{
	    @include gradient ($compatibe-color, $light-color, 0%, 100%);	
	   cursor: pointer
     }
	
}



 input[type="text"].amount_label{
    color: $compatibe-color;
    background: $extra-light-color;
    font-weight: 200;
    box-shadow: none;
    text-align:center;
    margin: 0 auto;
    @include rounded();
    width: 	6.854em;
    
    font-size: 2.625em;
    line-height: 1.14286em;
    margin-top: 1.1429em;
    margin-bottom: .5714em;
    
    
    }