

.tabbable{
	margin-top: 1em
}

.nav-tabs{
	padding-left: 0!important;
	
	li{
	  padding-top: 3px
	}
	
}

.tabbable .nav-tabs > li.active {
    border: 1px solid $border-color;
    border-bottom: 0;
    border-top:3px solid $compatibe-color;
    background: white;
    position: relative;
    z-index:2;
    padding-top: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    }


.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: rgb(85, 85, 85);
    cursor: default;
    background-color: white;
  }


.tabbable > .tab-content {
    background-color: white;
    border: 1px solid $border-color;
    padding: 0 1em;
    margin-top:-1px
}

.tab-pane {
	display: none;
}




