/*-----------------------

 Typography


 Modular Scale
 
	16px @ 1:1.618	
    24px @ 1:1.618	
    
    
-------------------------*/


$font-family-stack: 'Open Sans','Helvetica Neue','Proxima Sans',Helvetica,Arial,sans-serif;  // General Font stack


p{
    line-height: 1.5em;    
    font-size: 1em;
    text-align: left;
    margin-bottom:1.5em;
        color: $grey ;
        
    &:first-child{
	      margin-top:1em  
    } 
        
    a{
     font-weight: 700
     }
}



h1 {
    font-size: 4.25em;
    line-height: 1.05882em;
    margin-top: .3529em;
    margin-bottom: .7059em;
         color: $compatibe-color;

}

h2 {
    font-size: 2.625em;
    line-height: 1.14286em;
    margin-top: 1.1429em;
    margin-bottom: .5714em;
         color: $compatibe-color;

}
h3 {
    font-size: 1.625em;
    line-height: 1.84615em;
    margin-top: .9231em;
    margin-bottom: 0;
         color: $compatibe-color;

}

h4 {
    line-height: 1.5em;    
    font-size: 1em;
    font-weight: 700;    
     color: $compatibe-color;

} 

h5{
    font-size: .8em;
    line-height: 1.875em;
    font-weight: 300;
    color: $compatibe-color;

}




small  {
    font-size: .8em;
    line-height: 1.5em;
    color: $grey;
}


strong{
	font-weight: bold
}




a {
	text-decoration: none;
    color:$compatibe-color;
}

i{	
	float: left;
	margin-right:.6em
}

b{
	font-weight: bold
}

