// hint-variables.scss
// 
// Declares some variables used within the library.


// default tooltip height
$tooltipHeight: 2em;

// border-width for tooltip arrow
$arrowBorderWidth: .4em;

// horizontal arrow offset
$arrowOffsetX: 4 * $arrowBorderWidth;

// text-shadow darken percentage
$textShadowDarkenAmount: 25%;

// transition distance
$transitionDistance: .5em;


// Various colors
// Default color is blackish
$defaultColor: hsl(0, 0%, 22%);

// Error color
$errorColor: hsl(1, 40%, 50%);

// Warning color
$warningColor: hsl(38, 46%, 54%);

// Info Color
$infoColor: hsl(200, 50%, 45%);

// Success Color
$successColor: hsl(121, 32%, 40%);