/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 * 
 * Classes added:
 * 	1) hint
 */

.hint {
	position: relative;
	display: inline-block;
	font-weight: 400;

	&:before, &:after {
		position: absolute;
		opacity: 0;
		z-index: 1000000;
		// shouldn't receive pointer events, otherwise even hovering tooltip will make it appear
		pointer-events: none;

		// pseudo element transition is gonna come soon: https://bugs.webkit.org/show_bug.cgi?id=92591
        @include transition($time: .2s);
	}

	&:hover:before, &:hover:after {
		opacity: 1;
	}

	/**
	 * tooltip arrow
	 */
	&:before {
		content: '';
		position: absolute;
		background: transparent;
		border: $arrowBorderWidth solid transparent;
		// move z-index 1 up than :after so that it shows over box-shadow
		z-index: 1000001;
	}

	/**
	 * tooltip body
	 */
	&:after {
		content: attr(data-hint);
		background: $defaultColor;
		color: white;
		text-shadow: 0 -1px 0px darken($defaultColor, $textShadowDarkenAmount);
		padding: .5em 1em;
		font-size: .8em;
		line-height: 1.5em;
		font-weight: 200;
		white-space: nowrap;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
		
	}
}